<ng-template>
  <div class="py-4 bg_blu hero-header mb-5 sg_page_title position-relative">
    <div
      class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"
    ></div>
    <div class="container my-1 my-lg-5 px-lg-5 position-relative">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1 class="text-white animated zoomIn">Matrimonial Verification</h1>
          <hr class="bg-white mt-0 opacity-100" style="width: 90px" />
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-start">
              <li class="breadcrumb-item">
                <a class="tc_w tc_h_red" [routerLink]="['/home']">Home</a>
              </li>
              <li class="breadcrumb-item tc_red active" aria-current="page">
                Matrimonial Verification
              </li>
            </ol>
          </nav>
          <div class="tc_w">
            <p>Verify to ensure that your perfect match is a reliable one</p>
          </div>
        </div>
        <div class="col-lg-6 text-lg-center mt-3 mt-lg-0">
          <img src="assets/img/3.jpg" class="rounded-3 shadow-lg" width="80%" />
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar & Hero End -->
  <div class="pt-0 pt-lg-4">
    <div class="container sg_shadow rounded-3 py-4 py-lg-5 px-5 mb-5">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="section-title position-relative mb-4 pb-2 fs_20">
            <p>
              <b>A) Pre-marital due diligence-</b> tying a knot with someone
              special? Get verifications done beforehand through seasoned
              professionals.
            </p>
          </div>
        </div>
        <div class="col-lg-6 fs_18 wow fadeInLeft" data-wow-delay="0.1s">
          <div class="mb-3">
            <h2 class="fs_22">Know HOW?</h2>
          </div>
          <div class="pt-2">
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Discreet Employment Check – </b>A
                complete report on employment to know the gap between actual and
                provided information
              </p>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Identity Check – </b>Vetting of the ID of
                your potential partner to avoid fraudsters
              </p>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Criminal Record Check – </b>Investigation
                via the court to unveil possible criminal conviction(s),
                divorce, sexual harassment or even fraud cases.
              </p>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Credit Check – </b> To know about credit
                rating, Loan default or any integrity issue
              </p>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Physical Address Verification – </b
                >Validate address and gather information regarding
                character/family lifestyle/ relation from a neighbour and other
                sources to avoid future reputational risk
              </p>
            </div>
            <div class="d-flex align-items-baseline">
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">Social Media Check – </b>Identifying red
                flags such as extra-marital affairs, Previous Affairs,
                Lifestyle, Bad Habits, bullying, violence and hate crimes
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5 mt-4 mt-lg-0">
          <img
            src="assets/img/Know_HOW.jpg"
            class="w-100 rounded-3 wow animate__zoomIn"
            data-wow-delay="0.1s"
          />
        </div>
      </div>
      <!-- <div class="row mt-5 align-items-center"> 
         <div class="col-lg-6">
            <img src="img/Know_WHY.jpg" class="w-100 rounded-3 wow zoomIn" data-wow-delay="0.1s">
         </div>
         <div class="col-lg-6 fs_18 wow fadeInRight ps-lg-5" data-wow-delay="0.1s"> 
            <div class="mb-3"> 
               <h2 class="fs_22">Know WHY?</h2>
            </div>
            <div class="pt-2">
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">High-user pass rate</p>
               </div> 
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">High-fraud detection accuracy</p>
               </div>
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Cost-effective</p>
               </div>
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Quality Database</p>
               </div>       
            </div> 
         </div> 
      </div> -->
    </div>

    <div class="container sg_shadow rounded-3 py-4 py-lg-5 px-5 mb-5">
      <div class="row align-items-center" *ngIf="knowHow">
        <div class="col-lg-12">
          <div class="section-title position-relative mb-4 pb-2 fs_20">
            <p>
              <b>A) Post-marital diligence-</b> make a smart choice to know
              about your spouse.
            </p>
          </div>
        </div>
        <div class="col-lg-6 fs_18 wow fadeInLeft" data-wow-delay="0.1s">
          <div class="mb-3">
            <h2 class="fs_22">{{ knowHow.process_title }}</h2>
          </div>
          <div class="pt-2">
            <div
              class="d-flex align-items-baseline"
              *ngFor="let el of knowHow.service_process_details"
            >
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">
                <b class="tc_prp me-1">{{ el.process_desc_title }} </b>
              </p>
            </div>
            <!-- <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2"><b class="tc_prp me-1">Photo and Video evidence of Extramarital affairs </b></p>
               </div>    
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2"><b class="tc_prp me-1">Income proof and Financial status</b></p>
               </div>    
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2"><b class="tc_prp me-1">Proof of second/illegal marriage </b></p>
               </div>    
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2"><b class="tc_prp me-1">Employment details for alimony decision </b></p>
               </div>     -->
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5 mt-4 mt-lg-0">
          <img
            [src]="
              knowHow.process_img
                ? knowHow.process_img
                : 'assets/img/Know_HOW.jpg'
            "
            class="w-100 rounded-3 wow animate__zoomIn"
            data-wow-delay="0.1s"
          />
        </div>
      </div>
      <div class="row mt-5 align-items-center" *ngIf="knowWhy">
        <div class="col-lg-6">
          <img
            [src]="
              knowWhy.cause_img ? knowWhy.cause_img : 'assets/img/Know_WHY.jpg'
            "
            class="w-100 rounded-3 wow animate__zoomIn"
            data-wow-delay="0.1s"
          />
        </div>
        <div
          class="col-lg-6 fs_18 wow fadeInRight ps-lg-5"
          data-wow-delay="0.1s"
        >
          <div class="mb-3">
            <h2 class="fs_22">{{ knowWhy.cause_title }}</h2>
          </div>
          <div class="pt-2">
            <div
              class="d-flex align-items-baseline"
              *ngFor="let item of knowWhy.service_cause_details"
            >
              <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
              <p class="mb-2">{{ item.cause_desc_details }}</p>
            </div>
            <!-- <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Proactive identification red flags</p>
               </div> 
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Safety of children</p>
               </div> 
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Avoid financial and reputation loss</p>
               </div> 
               <div class="d-flex align-items-baseline">
                  <i class="fa bi-caret-right tc_red me-1 fs_18"></i>
                  <p class="mb-2">Identify the character integrity of the partner</p>
               </div>  -->
          </div>
          <div class="d-lg-flex align-items-center mt-4">
            <button
              type="button"
              class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4"
            >
              <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i>
              <span>Shop Now</span>
            </button>
            <button
              type="button"
              class="ms-4 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4"
            >
              <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i>
              <span>Add to Cart</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 py-2"></div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Matrimonial Verification -->

<div class="pt-5" style="background-color: #fff" id="matrimonial_due_diligence">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-3 mb-lg-4">
        <div class="section-title position-relative mb-4 pb-2 text-center">
          <h2 class="">Matrimonial Verification</h2>
          <p class="mb-2">
            Verify to ensure that your perfect match is a reliable one
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="pb-4 mb-3 position-relative">
    <div class="container pb-3 pt-1">
      <div class="row align-items-center px-xl-3">
        <div class="col-lg-6 ps-xxl-5 order-lg-3 text-center sg_service_m_img">
          <img
            src="assets/img/id_varification.gif"
            class="fit_img_cnt wow zoomIn h-100"
            width=""
            data-wow-delay="0.1s"
          />
        </div>
        <div class="col-lg-12 order-lg-1 mt-4 mt-lg-0">
          <div class="mb-2">
            <h2 class="fs_24 tc_lred">Know HOW?</h2>
            <p class="mb-0">
              <b>A) Pre-marital due diligence-</b> tying a knot with someone
              special? Get verifications done beforehand through seasoned
              professionals.
            </p>
          </div>
        </div>

        <div class="col-lg-6 order-lg-2">
          <div class="row pt-3">
            <div class="col-lg-12">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Discreet Employment Check</h5>
                  <p class="mb-0">
                    A complete report on employment to know the gap between
                    actual and provided information
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Identity Check</h5>
                  <p class="mb-0">
                    Vetting of the ID of your potential partner to avoid
                    fraudsters
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Criminal Record Check</h5>
                  <p class="mb-0">
                    Investigation via the court to unveil possible criminal
                    conviction(s), divorce, sexual harassment or even fraud
                    cases.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Credit Check</h5>
                  <p class="mb-0">
                    To know about credit rating, Loan default or any integrity
                    issue
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Physical Address Verification</h5>
                  <p class="mb-0">
                    Validate address and gather information regarding
                    character/family lifestyle/ relation from a neighbour and
                    other sources to avoid future reputational risk
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div class="sg_shadow px-4 py-3 bg_w d-flex gap-3">
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Social Media Check</h5>
                  <p class="mb-0">
                    Identifying red flags such as extra-marital affairs,
                    Previous Affairs, Lifestyle, Bad Habits, bullying, violence
                    and hate crimes
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="position-relative py-5" style="background: #fbfbfb">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2 sg_service_m_img">
          <img
            src="assets/img/post_marital.png"
            class="h-100 fit_img_cnt wow zoomIn w-100"
            data-wow-delay="0.1s"
          />
        </div>
        <div
          class="col-lg-6 fs_18 wow fadeInRight ps-lg-5 order-lg-1 mt-4 mt-lg-0"
          data-wow-delay="0.1s"
        >
          <div class="mb-2">
            <h2 class="fs_24 tc_lred">Know WHY?</h2>
            <p class="mb-0">
              <b>A) Post-marital diligence-</b> make a smart choice to know
              about your spouse.
            </p>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">Surveillance</h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Photo and Video evidence of Extramarital affairs
                </h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Income proof and Financial status
                </h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Proof of second/illegal marriage
                </h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Employment details for alimony decision
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 position-relative">
    <div class="container">
      <div class="row align-items-center px-xl-3">
        <div class="col-lg-6 ps-xxl-5 order-lg-2 sg_service_m_img">
          <img
            src="assets/img/secure_future.png"
            class="h-100 fit_img_cnt wow zoomIn w-100"
            data-wow-delay="0.1s"
          />
        </div>
        <div class="col-lg-6 order-lg-1 mt-4 mt-lg-0">
          <div class="col-lg-12">
            <div class="mb-2">
              <h2 class="fs_24 tc_lred">Employment Know HOW?</h2>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">Secure future</h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Proactive identification red flags
                </h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">Safety of children</h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Avoid financial and reputation loss
                </h5>
              </div>
            </div>
            <div class="col-lg-12 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  Identify the character integrity of the partner
                </h5>
              </div>
            </div>
            <!-- <div class="col-lg-12">
              <div class="d-lg-flex align-items-center mt-4">
                <button
                  (click)="buyNow()"
                  type="button"
                  class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4"
                >
                  <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i>
                  <span>Buy Now</span>
                </button>
                <button
                  (click)="goToCart(); isAddedCart = true"
                  type="button"
                  class="ms-4 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4"
                >
                  <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i>
                  <span>{{ isAddedCart ? "Go to Cart" : "Add to Cart" }}</span>
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-shared-form [type]="'matrimonial'"></app-shared-form>
</div>

<div class="container-fluid" style="border-top: 4px #acc2dd solid">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div>
<ng-template #submenuServices let-item="item">
  <div class="col-lg-12">
    <form class="row align-items-center">
      <ng-container *ngFor="let el of item; let i = index">
        <div class="col-md-6">
          <div class="sg_pckg_checks">
            <div
              class="d-flex align-items-center justify-content-between border-bottom py-2 mb-3 px-3 sg_pckg_tlt_icn"
            >
              <div class="sg_form_group">
                <input
                  type="checkbox"
                  id="h_tenant_verification{{ el.package_id }}"
                />
                <label for="h_tenant_verification{{ el.package_id }}">{{
                  el.package_name
                }}</label>
              </div>
              <div class="d-flex gap-2 align-items-center">
                <span class="price">₹{{ el.price }}</span>
              </div>
            </div>
            <div class="h_tenant_verification_input sg_inner_checks px-3 pb-3">
              <ng-container *ngFor="let menus of el?.packageServices">
                <div class="sg_checkbox_div sg_form_group_inr">
                  <input
                    type="checkbox"
                    id="tenant_verification_national_id{{
                      menus.package_service_id
                    }}"
                    name="sg_occupied_option"
                    value=""
                    class="sg_inner_checks"
                  />
                  <label
                    class="fs_14"
                    for="tenant_verification_national_id{{
                      menus.package_service_id
                    }}"
                    >{{ menus.service_name }}</label
                  >
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-lg-6">
        <div class="d-md-flex align-items-center justify-content-center">
          <button
            style="min-width: 200px"
            type="button"
            class="mx-md-3 my-4 my-md-0 btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4"
          >
            <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i>
            <span>Buy Now</span>
          </button>
          <button
            style="min-width: 200px"
            type="button"
            class="mx-md-3 my-4 my-md-0 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4"
          >
            <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i>
            <span>Add to Cart</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
