<div class="py-4 bg_blu hero-header sg_page_title position-relative sg_new_srvs_div_s">
  <div class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"></div>
  <div class="container my-1 my-lg-5 px-lg-5 position-relative">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item">
              <a class="tc_red tc_h_w" [routerLink]="['/home']">HOME</a>
            </li>
            <li class="breadcrumb-item tc_red active ps-1" aria-current="page">
              <span>About us</span>
            </li>
          </ol>
        </nav>
        <h1 class="text-white animated zoomIn">About us</h1>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <header id="header-section" class="header_area"></header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 pt-5 pb-4 py-lg-5"></div>
    </div>
  </div>

  <section class="sg_p_fs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mb-4" style="font-size: 57px !important;">
            <span class="tc_red">Transforming</span> Background Verification
          </h1>
          <p class="ff_reg mb-3">
            For over 25 years, <a href="https://www.securitas.in/" target="_blank">Securitas India</a>, in partnership with 
            <a href="https://www.walsonsgroup.com/" target="_blank">Walsons</a>, has been a trusted leader in background verification, 
            ensuring safety, trust, and transparency. We operate across 44 geographies with a reach in 180+ countries, successfully 
            delivering background verification solutions to businesses. Now, we bring the same expertise and reliability to individuals, 
            making verification simple and accessible for everyone.
          </p>
          <p class="ff_reg mb-4">
            Whether you are hiring domestic help, renting out your property, or verifying a potential match, we ensure a seamless and 
            stress-free experience. Our services include tenant screening, matrimonial verification, self-verification, and support 
            staff verification.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sg_p_fs sg_w_i_bgn">
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 py-5 pt-4 py-lg-5 mt-lg-5"></div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 position-relative">
          <div class="sg_sec_head2">
            <h1>Where It <span>All Began</span></h1>
          </div>
          <p>
            Since 2007, <a href="https://www.securitas.in/" target="_blank">Securitas India</a>, powered by 
            <a href="https://www.walsonsgroup.com/" target="_blank">Walsons</a>, has helped individuals across the country make safe and 
            informed decisions through reliable background verification.
          </p>
          <p>
           Backed by cutting-edge technology and a commitment to privacy, we have made a difference in millions of lives verifying 
           criminal records, addresses, education backgrounds, and national identities with speed and accuracy. Every background check 
           we perform adds another layer of confidence to your daily decisions.
          </p>
          <h5 class="tc_prp mt-4">
            <i>
              "Mr. Wallia's vision inspires us to consistently upgrade, re-tool,
              re-skill, and become the best essential and trusted services
              provider in India."
            </i>
          </h5>
        </div>
        <div class="col-lg-6">
          <div class="position-relative">
            <img src="assets/image/w_i_bgn.png" class="position-relative w-100 mt-4 mt-lg-0 d-block d-lg-none" />
          </div>
        </div>
      </div>
    </div>
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-lg-12 py-5 mt-lg-4"></div>
      </div>
    </div>
  </section>

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 py-5 mt-lg-5 my-lg-4"></div>
    </div>
  </div> -->

  <div class="position-relative">
    <span class="sg_design_text">Securitas</span>
    <section class="sg_p_fs bg_lgry position-relative py-5">
      <span class="sg_design_text_s">S</span>
      <!-- <h1>Securitas</h1> -->
      <div class="container sg_prt_sec position-relative z_index999 py-lg-2">
        <div class="row align-items-center gx-lg-5">
          <div class="col-lg-6">
            <img src="assets/image/ptnr.png" class="w-100 fit-image" alt="ptnr" />
          </div>
          <div class="col-lg-6 position-relative mt-4 mt-lg-0">
            <div class="sg_sec_head2">
              <h1>Your <span>Partner of Choice</span></h1>
            </div>
            <h4 class="my-4 pt-1">
              Built for You, Backed by Technology and Trust :
            </h4>
            <ul class="list-unstyled fs_16">
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <i class="bi bi-shield-fill-check tc_prp fs_24"></i>
                AI-powered real-time monitoring for accurate and fraud-resistant background checks.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <i class="bi bi-shield-fill-check tc_prp fs_24"></i>
                Customizable background checks designed for individual needs and everyday life situations.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <i class="bi bi-shield-fill-check tc_prp fs_24"></i>
                100% Seamless verification and ensuring your data is protected.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <i class="bi bi-shield-fill-check tc_prp fs_24"></i>
                Effective verification solutions also available for SMEs and businesses.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="sg_p_fs py-5" style="background: linear-gradient(to right, #ffdee5 50%, #f3efff 50%)">
      <div class="container py-lg-2 sg_prt_sec position-relative z_index999">
        <div class="row g-lg-5 align-items-center">
          <div class="col-lg-6 position-relative">
            <div class="sg_sec_head2">
              <h1>Our <span>Approach</span></h1>
            </div>
            <p>
              In today’s fast-paced world, trusting someone without background verification can put your safety at risk. From self 
              verification and tenant verification to matrimonial investigation and domestic help background verification, Securitas 
              India makes it easy, secure, and reliable.
            </p>
            <p><strong>Why millions trust us?</strong></p>
            <ul class="list-unstyled fs_16">
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <img src="assets/image/blb.png" alt="" width="28px" />
                20 million+ successful verifications for individuals and families like yours.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <img src="assets/image/blb.png" alt="" width="28px" />
                Employing advanced technology to deliver progressive and forward-thinking solutions.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <img src="assets/image/blb.png" alt="" width="28px" />
                Seamless and secure verification, ensuring your data is 100% protected.
              </li>
              <li class="d-flex align-items-center gap-2 gap-lg-3 mb-2">
                <img src="assets/image/blb.png" alt="" width="28px" /> Our
                Extending services across different individual verifications.
              </li>
            </ul>
          </div>
          <div class="col-lg-6 text-center sg_aprc_img sg_blnk_circle_img ps-lg-5 position-relative">
            <img src="assets/image/aprc.png" class="w-100 mt-4 mt-lg-0" alt="aprc" />
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="sg_crv_bg py-5">
    <div class="container pb-5 pt-4 mb-5">
      <div class="row pb-lg-4">
        <div class="col-12">
          <div class="sg_sec_head2 sg_sec_head_56">
            <h1 class="tc_w text-center">
              Experience & Expertise
              <!-- <span class="border-0">& Expertise</span> -->
            </h1>
          </div>
        </div>
      </div>
      <div class="row text-center py-5 mb-lg-5">
        <div class="col-md-6 col-lg-3 pb-4 pb-lg-0">
          <img src="assets/image/chk_vrfy.png" alt="" height="100" width="auto" />
          <div>
            <h2 class="mb-2">10 Mn+</h2>
            <p>Checks Verified</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-4 pb-lg-0">
          <img src="assets/image/ind.png" alt="" height="100" width="auto" />
          <div>
            <h2 class="mb-2">25+ Years</h2>
            <p>of experience</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-4 pb-lg-0">
          <img src="assets/image/ptnt_chc.png" alt="" height="100" width="auto" />
          <div>
            <h2 class="mb-2">1000+ Clients</h2>
            <p>Partner of choice for</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pb-4 pb-lg-0">
          <img src="assets/image/ind_exp.png" alt="" height="100" width="auto" />
          <div>
            <h2 class="mb-2">20+</h2>
            <p>Industries</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5" style="background-color: #f6f6f6">
    <div class="container py-lg-4">
      <div class="row">
        <div class="col-12 pb-4 mb-3">
          <div class="sg_sec_head2">
            <h1 class="text-center">
              Certifications <span class="border-0">& Recognition</span>
            </h1>
          </div>
        </div>
        <div class="col-lg-12 text-center sg_certification_img">
          <div class="row gx-0 justify-content-center align-items-lg-end">
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center">
              <img src="assets/img/cr1.png" alt="" class="fit_img_cnt sg_cr_mn" />
              <div class="sg_or_crtf">
                <h5 class="mb-2">BQC Assessment</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center">
              <img src="assets/img/cr2.png" alt="" class="fit_img_cnt sg_cr_mn" />
              <div class="sg_or_crtf">
                <h5 class="mb-2">NSR Platinum Partner</h5>
              </div>
              <img src="assets/img/cr5.png" alt="" class="fit_img_cnt mt-5 d-none d-lg-block" width="80%" />
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center">
              <img src="assets/img/cr3.png" alt="" class="fit_img_cnt sg_cr_mn" />
              <div class="sg_or_crtf">
                <h5 class="mb-2">ISO 27701: 2019 Certified</h5>
              </div>
              <img src="assets/img/cr6.png" alt="" class="fit_img_cnt mt-5 d-none d-lg-block" width="80%" />
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center">
              <img src="assets/img/cr4.png" alt="" class="fit_img_cnt sg_cr_mn" />
              <div class="sg_or_crtf">
                <h5 class="mb-2">ISO/IEC 27001 Certified</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center d-block d-lg-none">
              <img src="assets/img/cr5.png" alt="" class="fit_img_cnt mt-5" width="80%" />
            </div>
            <div class="col-xxl-3 col-lg-3 col-md-6 col-sm-6 text-center d-block d-lg-none">
              <img src="assets/img/cr6.png" alt="" class="fit_img_cnt mt-5" width="80%" />
            </div>
            <!-- <div class="col-xxl-3 col-lg-4 col-md-4 text-center"></div>
            <div class="col-xxl-3 col-lg-4 col-md-4 text-center">   
                <img src="assets/img/cr5.png" alt="" class="fit_img_cnt" width="80%"/>  
            </div>
            <div class="col-xxl-3 col-lg-4 col-md-4 text-center">   
              <img src="assets/img/cr6.png" alt="" class="fit_img_cnt" width="80%"/>  
            </div>
            <div class="col-xxl-3 col-lg-4 col-md-4 text-center"></div> -->
            <!-- <div class="col-xxl-3 col-lg-4 col-md-4 text-center my-4 my-md-0">
              <img
                src="assets/img/certifications2.png"
                alt=""
                class="fit_img_cnt"
                width="90%"
              />
              <div class="sg_or_crtf">
                <img src="assets/image/or_crtfct.png" alt="" />
                <h5 class="mb-0 mt-1 mb-2">Certifications Name</h5>
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-md-4 text-center">
              <img
                src="assets/img/certifications1.png"
                alt=""
                class="fit_img_cnt"
                width="90%"
              />
              <div class="sg_or_crtf">
                <img src="assets/image/or_crtfct.png" alt="" />
                <h5 class="mb-0 mt-1 mb-2">Certifications Name</h5>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 my-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-12 pb-4 mb-3">
          <div class="sg_sec_head2 text-center">
            <h1 class="text-center mb-2">
              Decades of <span class="border-0">Dedication</span>
            </h1>
            <h4 class="ff_l tc_prp">
              25+ years of journey unmatched in excellence
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-lg-5">
      <div class="row">
        <div class="small-12 column sg_tm_lin">
          <div class="loading-bar__wrapper">
            <div class="loading-bar">
              <div class="loading-bar-bullet text-center">
                <div>2006</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2007</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2014</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2016</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2017</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2018</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2019</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2021</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2022</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2023</div>
              </div>
            </div>
            <div class="labels">
              <div>
                <img src="assets/image/building.gif" alt="building" class="mx-auto" />
                <h1>Started Walsons</h1>
                <h5>BGV services</h5>
              </div>
              <div>
                <img src="assets/image/t2.png" class="mx-auto" />
                <h1>Partnership with </h1>
                <h5>Securitas AB</h5>
              </div>
              <div>
                <img src="assets/image/t3.png" class="mx-auto" />
                <h1>Ranked 42nd</h1>
                <h5>
                  among the top fastest-growing mid-sized companies in India by Inc. 500
                </h5>
                <h5>Empaneled as Background checker (EBC) of NSR (a NASSCOM initiative)</h5>
              </div>
              <div>
                <img src="assets/image/t3.png" class="mx-auto" />
                <h1>Ranked 7th</h1>
                <h5>
                  amongst the 30 fastest-growing companies in Asia by The Silicon Review
                </h5>
              </div>
              <div>
                <img src="assets/image/t4.png" class="mx-auto" />
                <h1>Empaneled as a ‘Gold Partner’</h1>
                <h5>
                  background checker of NSR, an initiative by NASSCOM
                </h5>
              </div>
              <div>
                <img src="assets/image/t5.png" class="mx-auto" />
                <h1>Technology: </h1>
                <h5>
                  Launch of WeVerify BGV Web portal with Client and Candidate Login
                </h5>
              </div>
              <div>
                <img src="assets/image/t7.png" class="mx-auto" />
                <h1>Recognized as</h1>
                <h5>
                  ‘Silicon India 20 Most Promising Background Verification Companies’​
                </h5>
                <h5>
                  ISO 9001:2015 - By KVQA for maintaining the Quality Management System standard
                </h5>
              </div>
              <div>
                <img src="assets/image/t2.png" class="mx-auto" />
                <h1>Empaneled as a ‘Platinum Partner’ </h1>
                <h5>
                  background checker of NSR, an initiative by NASSCOM
                </h5>
              </div>
              <div>
                <img src="assets/image/t8.png" class="mx-auto" />
                <h1>Enhanced</h1>
                <h5> We Verify 2.0 BGV web portal with 100% Workflow Automation </h5>
                <h5>ISO/IEC 27701:2013 - compliance certificate by BSI</h5>
                <h5>ISO/IEC 27701:2019 - compliance certificate by BQC assessment PVT Ltd</h5>
                <h5>Recognized as Top 10 Employee Background Verification Companies from Asia 2022 by Asia Business
                  Outlook Magazine</h5>
              </div>
              <div>
                <img src="assets/image/t9.png" class="mx-auto" />
                <h1>Milestone achieved - 1000+ BGV happy clients​</h1>
                <h5>Launch of WalsonsVerify web portal B2C</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="false">
      <div class="row">
        <div class="small-12 column sg_tm_lin">
          <div class="loading-bar__wrapper">
            <div class="loading-bar">
              <div class="loading-bar-bullet text-center">
                <div>2006</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2007</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2014</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2016</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2017</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2018</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2019</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2021</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2022</div>
              </div>
              <div class="loading-bar-bullet text-center">
                <div>2023</div>
              </div>
            </div>
            <div class="labels">
              <div>
                <img src="achv.png" class="mx-auto" />
                <h1>Started Walsons BGV services</h1>
                <!-- <h5>BGV Happy Client Launch of Walsonsverify Web Portal B2C</h5> -->
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <h1>Partnership with Securitas AB</h1>
                <!-- <h5>BGV Happy Client Launch of Walsonsverify Web Portal B2C</h5> -->
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>3</h1> -->
                <h5>
                  Ranked 42nd among the top fastest-growing mid-sized companies
                  in India by Inc. 500
                </h5>
                <h5>(EBC) of NSR</h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>4</h1> -->
                <h5>
                  Ranked 7th amongst the 30 fastest-growing companies in Asia by
                  The Silicon Review
                </h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>5</h1> -->
                <h5>
                  Empaneled as a ‘Gold Partner’ background checker of NSR, an
                  initiative by NASSCOM
                </h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>6</h1> -->
                <h5>
                  Technology: Launch of WeVerify BGV Web portal with Client and
                  Candidate Login
                </h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>7</h1> -->
                <h5>
                  Recognized as ‘Silicon India 20 Most Promising Background
                  Verification Companies’
                </h5>
                <h5>
                  ISO 9001:2015 - By KVQA for maintaining the Quality Management
                  System standard
                </h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>8</h1> -->
                <h5>
                  Eaneled as a ‘Platinum Partner’ background checker of NSR, an
                  initiative by NASSCOM
                </h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <!-- <h1>8</h1> -->
                <h5>
                  Enhanced: We Verify 2.0 BGV web portal with 100% Workflow
                  Automation
                </h5>
                <h5>ISO/IEC 27701:2013 - compliance certificate by BSI</h5>
              </div>
              <div>
                <img src="achv.png" class="mx-auto" />
                <h1>Milestone Achieved 1000+</h1>
                <h5>BGV Happy Client Launch of Walsonsverify Web Portal B2C</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="reach-unreachable-sec padding-p1 py-5" *ngIf="false">
    <div class="reachUn-inner py-2" id="renderHtmlIdsaboutSectiondata">
      <div class="custom-container container-fluid px-xxl-5 px-4">
        <div class="reachUn-row">
          <div class="row">
            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8">
              <div class="reachUn-content">
                <div class="reachUn-content-div">
                  <div class="section-head">
                    <div class="section-title position-relative mb-4 pb-2 wow fadeInUp">
                      <h2 class="mt-2">
                        Securitas India- Your Security, Our Priority About us
                      </h2>
                    </div>
                    <!-- <h2 class="heading-f56-mediam">
                      Securitas India- Your Security, Our Priority
                      <span class="yellow-h">About us</span>
                    </h2> -->
                    <!-- <p class="emp-card-para reachUn-para"></p> -->
                    <p class="emp-card-para reachUn-para">
                      Securitas India is a prominent provider of background
                      verification services and a dependable ally. Our aim is to
                      safeguard customers by effectively combining technology,
                      human expertise, and intelligence. Our comprehensive and
                      reliable background verification services cater to a wide
                      range of clients, from small and medium enterprises to
                      large corporations, startups, and individuals. Our
                      extensive industry experience proves our ability to
                      personalize our services with complete transparency,
                      real-time monitoring, and cutting-edge AI-powered
                      screening solutions.
                    </p>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="d-flex align-items-baseline mb-2">
                          <i class="fa fa-check tc_red me-2"></i>
                          <div>
                            <p class="fs_18 my-0">
                              17 years of <b>industry experience</b>
                            </p>
                          </div>
                        </div>
                        <div class="d-flex align-items-baseline mb-2">
                          <i class="fa fa-check tc_red me-2"></i>
                          <div>
                            <p class="fs_18 my-0">
                              <b>Verified</b> more than 10 Million Checks
                            </p>
                          </div>
                        </div>
                        <div class="d-flex align-items-baseline mb-2">
                          <i class="fa fa-check tc_red me-2"></i>
                          <div>
                            <p class="fs_18 my-0">
                              <b>Partner of choice</b> for 1000+ clients across
                              the industry from IT, Telecom, Hospitality,
                              Pharma, Finance, Retail, Government, Education,
                              etc.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="reachUn-counter">
                    <div class="row">
                      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                        <div class="reachUnNumber-mb">
                          <div class="reachUn-counterNember">
                            <img src="https://www.denave.com/storage/app/admin/images/Companies_1672740330.svg"
                              alt="" />
                            <h3 class="reachUn-number-text">10Mn+</h3>
                            <p class="reachUn-numberpara">Companies</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                        <div class="reachUnNumber-mb">
                          <div class="reachUn-counterNember">
                            <img src="https://www.denave.com/storage/app/admin/images/Contacts Data_1672740340.svg"
                              alt="" />
                            <h3 class="reachUn-number-text">33Mn+</h3>
                            <p class="reachUn-numberpara">Contact Data</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                        <div class="reachUnNumber-mb">
                          <div class="reachUn-counterNember">
                            <img
                              src="https://www.denave.com/storage/app/admin/images/Technologies Tracked_1672740349.svg"
                              alt="" />
                            <h3 class="reachUn-number-text">30K+</h3>
                            <p class="reachUn-numberpara">
                              Technologies Tracked
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-6">
                        <div class="reachUnNumber-mb">
                          <div class="reachUn-counterNember">
                            <img src="https://www.denave.com/storage/app/admin/images/Industries_1672740360.svg"
                              alt="" />
                            <h3 class="reachUn-number-text">20+</h3>
                            <p class="reachUn-numberpara">Industries</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
              <div class="reachUn-right">
                <div class="reachUnRight-row">
                  <div class="reach-Person">
                    <img src="assets/img/man.png" alt="Joy Nandi" width="100%" class="position-relative" />
                  </div>
                  <div class="reachUn-person-conten">
                    <div class="reachPer-inner">
                      <h5 class="reachUn-per-heading">Securitas AB</h5>
                      <p class="reachPer-degn">Senior VP &amp; Global Head</p>
                      <p class="reachPer-infopara">
                        “With dedicated teams and in-depth data analysis, our
                        business is to secure yours.”
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5" style="background-color: #f6f6f6" *ngIf="false">
    <div class="container-fluid px-xxl-5 px-4 py-2">
      <div class="row">
        <div class="col-12">
          <div class="awardsAccolades-heading">
            <div class="section-title position-relative mb-4 text-center pb-2 wow fadeInUp">
              <h2 class="mt-2">Our Certifications</h2>
            </div>
            <!-- <div class="section-head">
              <h2 class="heading-f56-mediam">
                Our <span class="yellow-h">Certifications</span>
              </h2>
            </div> -->
          </div>
        </div>
        <div class="col-lg-12 order-lg-2 text-center sg_certification_img">
          <div class="row align-items-center justify-content-center">
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 text-center">
              <img src="assets/img/certifications.png" alt="" class="fit_img_cnt" width="90%" />
              <h5 class="mb-0 mt-1 mb-2">Certifications Name</h5>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 text-center">
              <img src="assets/img/certifications1.png" alt="" class="fit_img_cnt" width="90%" />
              <h5 class="mb-0 mt-1 mb-2">Certifications Name</h5>
            </div>
            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-12 text-center">
              <img src="assets/img/certifications2.png" alt="" class="fit_img_cnt" width="90%" />
              <h5 class="mb-0 mt-1 mb-2">Certifications Name</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero-data-point-sec helping-enterprises padding-p1 py-5" *ngIf="false">
    <div class="hdp-inner py-2">
      <div class="custom-containerFluid">
        <div class="section-row">
          <!-- <div class="targetBuy-heading">
            <div class="section-head">
              <h2 class="heading-f56-mediam"></h2>
              <h2 class="heading-f56-mediam">
                <span class="yellow-h">Journey</span> Of Walsons Healthcare
              </h2>
            </div>
          </div> -->
          <div class="section-title position-relative mb-4 text-center pb-2 wow fadeInUp">
            <h2 class="mt-2">Journey Of Walsons Healthcare</h2>
          </div>
          <div class="helping-E-slider">
            <div class="heGf-slider-inner" id="renderHtmlHelpingDenaveSectiondata">
              <div
                class="swiper hegf-swiper sg_timeline_slider swiper-container-initialized swiper-container-horizontal"
                style="cursor: grab">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-prev">
                    <div class="hegf-slideInner hegf-slideInner-bottom">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j1.png" width="100%" />
                          <h5 class="hefg-heaidng">2006</h5>
                          <p class="hefg-para">Started Walsons BGV services</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-active">
                    <div class="hegf-slideInner hegf-slideInner-top">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j2.png" width="100%" />
                          <h5 class="hefg-heaidng">2007</h5>
                          <p class="hefg-para">Partnership with Securitas AB</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-next">
                    <div class="hegf-slideInner hegf-slideInner-bottom">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j3.png" width="100%" />
                          <h5 class="hefg-heaidng">2014</h5>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> Ranked 42nd
                            among the top fastest-growing mid-sized companies in
                            India by Inc. 500
                          </p>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> (EBC) of NSR
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-top">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j3.png" width="100%" />
                          <h5 class="hefg-heaidng">2016</h5>
                          <p class="hefg-para">
                            Ranked 7th amongst the 30 fastest-growing companies
                            in Asia by The Silicon Review
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-bottom">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j2.png" width="100%" />
                          <h5 class="hefg-heaidng">2017</h5>
                          <p class="hefg-para">
                            Empaneled as a ‘Gold Partner’ background checker of
                            NSR, an initiative by NASSCOM
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-top">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j4.png" width="100%" />
                          <h5 class="hefg-heaidng">2018</h5>
                          <p class="hefg-para">
                            Technology: Launch of WeVerify BGV Web portal with
                            Client and Candidate Login
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-bottom">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j5.png" width="100%" />
                          <h5 class="hefg-heaidng">2019</h5>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> Recognized
                            as ‘Silicon India 20 Most Promising Background
                            Verification Companies’
                          </p>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> ISO
                            9001:2015 - By KVQA for maintaining the Quality
                            Management System standard
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-top">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j6.png" width="100%" />
                          <h5 class="hefg-heaidng">2021</h5>
                          <p class="hefg-para">
                            Eaneled as a ‘Platinum Partner’ background checker
                            of NSR, an initiative by NASSCOM
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-bottom">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j4.png" width="100%" />
                          <h5 class="hefg-heaidng">2022</h5>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> Enhanced: We
                            Verify 2.0 BGV web portal with 100% Workflow
                            Automation
                          </p>
                          <p class="hefg-para">
                            <i class="bi bi-arrow-right-short"></i> ISO/IEC
                            27701:2013 - compliance certificate by BSI
                          </p>
                          <!-- <p class="hefg-para"><i class="bi bi-arrow-right-short"></i> ISO/IEC 27701:2019 - compliance certificate by BQC assessment PVT Ltd</p>
                                            <p class="hefg-para"><i class="bi bi-arrow-right-short"></i> Recognized as Top 10 Employee Background Verification Companies from Asia 2022 by Asia Business Outlook Magazine</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="hegf-slideInner hegf-slideInner-top">
                      <div class="hefg-slide-card">
                        <div class="hefg-card-content">
                          <img class="hefgiconimg" src="assets/img/j7.png" width="100%" />
                          <h5 class="hefg-heaidng">2023</h5>
                          <p class="hefg-para">
                            Milestone achieved - 1000+ BGV happy clients
                          </p>
                          <p class="hefg-para">
                            Launch of WalsonsVerify web portal B2C
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="swiper-pagination"></div> -->
                <!-- If we need navigation buttons -->
                <div class="arrows-inative ah-slider-navigation">
                  <div class="swiper-button-prev chevronLeft-swiper" tabindex="0" role="button"
                    aria-label="Previous slide" aria-disabled="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.592" height="13.067" viewBox="0 0 19.592 13.067"
                      fill="#fff">
                      <path id="Icon_ionic-ios-arrow-round-back" data-name="Icon ionic-ios-arrow-round-back"
                        d="M20.376,11.5a.889.889,0,0,0-.007,1.252L24.5,16.9H8.76a.885.885,0,0,0,0,1.769H24.5l-4.137,4.144a.9.9,0,0,0,.007,1.252.881.881,0,0,0,1.245-.007l5.607-5.648h0a.993.993,0,0,0,.184-.279.844.844,0,0,0,.068-.34.887.887,0,0,0-.252-.619l-5.607-5.648A.867.867,0,0,0,20.376,11.5Z"
                        transform="translate(-7.882 -11.252)"></path>
                    </svg>
                  </div>
                  <div class="swiper-button-next chevronRight-swiper" tabindex="0" role="button" aria-label="Next slide"
                    aria-disabled="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.592" height="13.067" viewBox="0 0 19.592 13.067"
                      fill="#fff">
                      <path id="Icon_ionic-ios-arrow-round-back" data-name="Icon ionic-ios-arrow-round-back"
                        d="M20.376,11.5a.889.889,0,0,0-.007,1.252L24.5,16.9H8.76a.885.885,0,0,0,0,1.769H24.5l-4.137,4.144a.9.9,0,0,0,.007,1.252.881.881,0,0,0,1.245-.007l5.607-5.648h0a.993.993,0,0,0,.184-.279.844.844,0,0,0,.068-.34.887.887,0,0,0-.252-.619l-5.607-5.648A.867.867,0,0,0,20.376,11.5Z"
                        transform="translate(-7.882 -11.252)"></path>
                    </svg>
                  </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>