<section class="sg_blog" id="sg_blog">
  <div class="d-block w-100 py-4 pb-lg-5 pt-lg-4"></div>
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-8 col-lg-7">
        <div class="sg_blg_col sg_sngl_blg position-relative pb-4">
          <img src="assets/image/aprc.png" class="sg_blg_img" />
          <!-- <small class="sg_cata"><a href="#">Blog</a></small> -->
          <div class="position-relative pt-4">
            <img src="assets/img/chat_1.png" class="sg_usr_img" />
            <h3 class="mt-2 mb-2">
              Rahu Enters Cancer and Ketu Enters Capricorn.
            </h3>
            <div
              class="mt-2 text-muted d-flex justify-content-between align-content-center"
            >
              <small>June 28, 2023</small>
              <small>No Comments</small>
            </div>
          </div>
          <div class="mt-4">
          </div>
        </div>
        <!-- <div class="mb-4 sg_share_pst"> 
                <ul>
                    <li class="d-flex">
                      <h5 class="my-0 mr-2">Share Post</h5>
                        <a href="#" class="px-2"><i class="fa fa-facebook-square"></i></a>
                        <a href="#" class="px-2"><i class="fa fa-instagram"></i></a>
                    </li> 
                </ul>
            </div> -->

        <div
          class="d-flex justify-content-between align-items-center sg_next_prev"
        >
          <a class=""
            ><i class="fa fa-chevron-left" style="margin-top: 2px"></i>Prev</a
          >
          <a class=""
            >Next<i class="fa fa-chevron-right" style="margin-top: 2px"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="sg_blg_sidebr mb-4">
          <h5 class="mb-4">Search</h5>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="search"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn bg_prp tc_w bg_h_red"
                type="button"
                id="button-addon2"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="sg_blg_sidebr mb-4">
          <h5 class="mb-4">Recent Blog</h5>
          <ul>
            <li>
              <a href="#"><img src="assets/image/aprc.png" /></a>
              <div>
                <a href="#"
                  ><h6>Rahu Enters Cancer and Ketu Enters Capricorn.</h6></a
                >
                <div
                  class="border-top pt-2 mt-2 text-muted d-flex justify-content-between align-content-center"
                >
                  <small>June 28, 2023</small>
                  <small>35 Comments</small>
                </div>
              </div>
            </li>
            <li>
              <a href="#"><img src="assets/image/aprc.png" /></a>
              <div>
                <a href="#"
                  ><h6>Rahu Enters Cancer and Ketu Enters Capricorn.</h6></a
                >
                <div
                  class="border-top pt-2 mt-2 text-muted d-flex justify-content-between align-content-center"
                >
                  <small>June 28, 2023</small>
                  <small>No Comments</small>
                </div>
              </div>
            </li>
            <li>
              <a href="#"><img src="assets/image/aprc.png" /></a>
              <div>
                <a href="#"
                  ><h6>Rahu Enters Cancer and Ketu Enters Capricorn.</h6></a
                >
                <div
                  class="border-top pt-2 mt-2 text-muted d-flex justify-content-between align-content-center"
                >
                  <small>June 28, 2023</small>
                  <small>No Comments</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="sg_blg_sidebr mb-4 sg_share_pst">
          <h5 class="mb-4">Share Post</h5>
          <ul>
            <li class="d-flex mb-0">
              <a href="#" class="tc_gry tc_h_lred"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="tc_gry tc_h_lred"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
        <!-- <div class="sg_blg_sidebr mb-4 sg_cta_div text-white  py-lg-5 px-lg-4">
                <h4 class="pb-4 mb-lg-2">Get a Cash offer on Your House Today</h4>
                <div class="mb-lg-2 pb-lg-2">
                  <p>Contact us to get a free, no-obligation consultation. Meridian trust makes it easy.</p>
                </div>
                <a href="tel:(844) 697-9737" target="_blank">(844) 697-9737</a>
            </div> -->
      </div>
    </div>
  </div>
  <div class="d-block w-100 py-4 pb-lg-5 pt-lg-4"></div>
</section>
