<section class="py-5 my-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Instant Verification</h2>
                </div> 
                <p>
                    Prompt self validation information through automated systems backed by reliable sources.
                </p>
            </div>
            <div class="col-md-5 sg_new_srvs_si">
                <img src="/assets/img/iv.png">
            </div>
        </div> 
        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_pkg_row sg_pkg_alacate mb-3">
                    <div class="py-1 py-lg-3 border-end d-flex align-items-center justify-content-center position-relative px-3">
                       <div class="text-center">
                          <img width="70px" src="/assets/icons/alacarte.png" class="sg_pkg_tlt_img">
                          <h5 class="tc_lred mb-0">À la carte</h5>
                       </div>
                    </div>
                    <div class="sg_fix_pkg">
                       <div class="sg_pkg_pnt py-3">
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                             </div>
                          </div>                          
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                            </div>
                          </div> 
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div> 
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div>                 
                       </div>
                    </div>
                 </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ------------- -->


<section class="py-5 my-1 bg_lprp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 sg_new_srvs_si">
                <img src="/assets/img/dv.png">
            </div>
            <div class="col-md-6">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Digital Verification</h2>
                </div>
                <!-- <h3 class="mt-2 fs_32 tc_lred mb-3">Instant Verification</h3> -->
                <p>
                    Smart & secure new-age digital methods offering comprehensive background verification.
                </p>
            </div>

        </div>

        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_pkg_row sg_pkg_alacate mb-3">
                    <div class="py-1 py-lg-3 border-end d-flex align-items-center justify-content-center position-relative px-3">
                       <div class="text-center">
                          <img width="70px" src="/assets/icons/alacarte.png" class="sg_pkg_tlt_img">
                          <h5 class="tc_lred mb-0">À la carte</h5>
                       </div>
                    </div>
                    <div class="sg_fix_pkg">
                       <div class="sg_pkg_pnt py-3">
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                             </div>
                          </div>                          
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                            </div>
                          </div> 
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div> 
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div>                 
                       </div>
                    </div>
                 </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ------------- -->


<section class="py-5 my-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Matrimonial verification</h2>
                </div> 
                <p> In the matter of lifelong alliance, be sure about the authenticity individual. Avail our customized offering to make informed decisions.</p>
            </div>
            <div class="col-md-6 sg_new_srvs_si">
                <img src="/assets/img/mv.png">
            </div>
        </div> 
        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_bg_row_shadow mb-3 p-4">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center sg_service_m_img"> 
                              <img src="assets/img/marriage-due1.png" data-wow-delay="0.1s" class="h-100 fit_img_cnt wow zoomIn w-75 animated animated" style="visibility: visible; animation-delay: 0.1s;">                            
                        </div>
                        <div class="col-lg-6 mt-4 mt-lg-0">
                           <h6>Share your details, Securitas will connect to you.</h6>
                           <form novalidate="" id="contact" class="sg_pkj_frm p-0 m-0 bg-transparent ng-untouched ng-pristine ng-valid">
                              <div class="row">
                                 <div class="col-lg-6">
                                    <fieldset><input type="name" name="name1" id="name1" placeholder="Name" autocomplete="on" formcontrolname="Name" required="" class="form-control ng-pristine ng-invalid ng-touched"></fieldset>
                                 </div>
                                 <div class="col-lg-6">
                                    <fieldset><input type="phone" name="phn" id="phn" placeholder="Mob No" formcontrolname="Phone" required="" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                 </div>
                                 <div class="col-lg-12">
                                    <fieldset><input type="email" name="email1" id="email1" required="" placeholder="E-mail ID" formcontrolname="Email" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                 </div>
                                 <div class="col-lg-12">
                                    <fieldset><textarea name="message" type="text" id="message" placeholder="Brief Description" formcontrolname="Message" class="form-control ng-untouched ng-pristine ng-valid"></textarea></fieldset>
                                 </div>
                                 <div class="col-lg-12">
                                    <fieldset class="d-flex gap-3"><button type="button" class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-flex align-items-center justify-content-center fs_14 px-4"><i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i><span> Submit &amp; Buy Now</span></button></fieldset>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                 </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ------------- -->


<section class="py-5 my-1 bg_lprp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 sg_new_srvs_si">
                <img src="/assets/img/tv.png">
            </div>
            <div class="col-md-6">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Tenant Verification</h2>
                </div> 
                <p>
                    Be sure about whom you extend access to your home! A scrutinized process to ensure awareness of the tenant’s background which the landlords may skip knowing. 
                </p>
            </div>

        </div>

        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_pkg_row">
                    <div class="py-1 py-lg-3 px-3 d-flex border-end align-items-center justify-content-center position-relative">
                       <div class="text-center">
                          <img width="70px" src="/assets/icons/tenant.png" class="sg_pkg_tlt_img">
                          <h5 class="tc_lred">Tenant Verification</h5>
                          <span class="d-block tc_prp ff_bold mt-1">₹500</span>
                       </div>
                    </div>
                    <div class="sg_fix_pkg">
                       <div class="sg_pkg_pnt py-2 border-end px-15">
                          <p class="fs_14"><i class="bi bi-check2-circle"></i> Court Record Check </p> 
                          <p class="fs_14"><i class="bi bi-check2-circle"></i> Reference Check </p> 
                          <p class="fs_14"><i class="bi bi-check2-circle"></i> Digital Employment Check </p> 
                          <p class="fs_14"><i class="bi bi-check2-circle"></i> National Identity Check </p> 
                       </div>
                       <div class="px-3 d-flex d-md-block ddddd">
                            <button type="button" class="w-100 my-3 btn sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_14 px-3 bg_lp_r">
                                <i class="bi bi-cart-plus fs_12 me-1 me-lg-0 me-xl-1"></i><span>Add to Cart </span>
                            </button>
                            <button type="button" class="w-100 my-3 btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-flex align-items-center justify-content-center fs_14 px-3">
                                <i class="bi bi-cart-check fs_12 me-1 me-lg-0 me-xl-1"></i><span>Buy Now</span>
                            </button>
                        </div>
                    </div>
                 </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ---------- -->



<section class="py-5 my-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Employee Verification</h2>
                </div> 
                <p>
                    Offering granular-level insights on an individual's background information pre-&-post hiring. 
                </p>
            </div>
            <div class="col-md-5 sg_new_srvs_si">
                <img src="/assets/img/iv.png">
            </div>


        </div> 
        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_pkg_row sg_pkg_alacate mb-3">
                    <div class="py-1 py-lg-3 border-end d-flex align-items-center justify-content-center position-relative px-3">
                       <div class="text-center">
                          <img width="70px" src="/assets/icons/alacarte.png" class="sg_pkg_tlt_img">
                          <h5 class="tc_lred mb-0">À la carte</h5>
                       </div>
                    </div>
                    <div class="sg_fix_pkg">
                       <div class="sg_pkg_pnt py-3">
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                             </div>
                          </div>                          
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                             <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                             <div>
                                <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                    <div class="sg_input-group w-auto justify-content-end align-items-center">
                                       <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                       <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                       <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                    </div> 
                                 </div>
                            </div>
                          </div> 
                          <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div> 
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verification (With OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹100</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                            </div>
                         </div>                          
                         <div class="border-bottom d-flex align-items-center justify-content-between px-15">
                            <p class="fs_14"><i class="bi bi-check2-circle"></i> Aadhar Verifcation (Without OTP) <span class="tc_prp ff_bold ps-0 ps-sm-2 ps-md-3 text-center">₹50</span></p>                              
                            <div>
                               <div class="d-md-flex align-items-center justify-content-between sg_qnt_prs">
                                   <div class="sg_input-group w-auto justify-content-end align-items-center">
                                      <input type="button" value="-" data-field="quantity" class="button-minus border rounded-circle sg_icon-shape sg_icon-sm mx-1">
                                      <input type="number" step="1" min="1" value="1" max="10" name="quantity" class="quantity-field border-0 text-center" disabled="">
                                      <input type="button" value="+" data-field="quantity" class="button-plus border rounded-circle sg_icon-shape sg_icon-sm">
                                   </div> 
                                </div>
                           </div>
                         </div>                 
                       </div>
                    </div>
                 </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ------------- -->


<section class="py-5 my-1 bg_lprp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 sg_new_srvs_si">
                <img src="/assets/img/tv.png">
            </div>
            <div class="col-md-6">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Leadership Due Diligence</h2>
                </div> 
                <p>
                    An exhaustive screening exercised through competency mapping and career tracking offers a 360-degree analysis before onboarding. 
                </p>
            </div>

        </div>

        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_bg_row_shadow p-4">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center sg_service_m_img">
                         
                            <img src="assets/img/leadership-due1.jpg" data-wow-delay="0.1s" class="h-100 fit_img_cnt wow zoomIn w-75 animated animated" style="visibility: visible; animation-delay: 0.1s;">
                         
                        </div>
                        <div class="col-lg-6 mt-4 mt-lg-0">
                        <h6>Share your details, Securitas will connect to you.</h6>
                        <form id="contact" class="sg_pkj_frm p-0 m-0 bg-transparent">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset><input type="name" name="name1" id="name1" placeholder="Name" autocomplete="on" formcontrolname="Name" required="" class="form-control ng-pristine ng-invalid ng-touched"></fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset><input type="phone" name="phn" id="phn" placeholder="Mob No" formcontrolname="Phone" required="" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset><input type="email" name="email1" id="email1" required="" placeholder="E-mail ID" formcontrolname="Email" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset><textarea name="message" type="text" id="message" placeholder="Brief Description" formcontrolname="Message" class="form-control ng-untouched ng-pristine ng-valid">                </textarea></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset class="d-flex gap-3"><button type="button" class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-flex align-items-center justify-content-center fs_14 px-4"><i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i><span> Submit &amp; Buy Now</span></button></fieldset>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</section>


<!-- ------------- -->


<section class="py-5 my-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section-title position-relative mb-4 pb-2 text-start">
                    <h2>Vendor Due Diligence</h2>
                </div> 
                <p>
                    Risk-free business partnerships are always a value-ad to the company and enabling you to funnel the right partners. 
                </p>
            </div>
            
            <div class="col-md-6 sg_new_srvs_si">
                <img src="/assets/img/tv.png">
            </div>

        </div>

        <div class="row mt-4 pt-3">
            <div class="col-md-12">
                <div class="sg_bg_row_shadow p-4">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center sg_service_m_img">
                         
                            <img src="assets/img/leadership-due1.jpg" data-wow-delay="0.1s" class="h-100 fit_img_cnt wow zoomIn w-75 animated animated" style="visibility: visible; animation-delay: 0.1s;">
                         
                        </div>
                        <div class="col-lg-6 mt-4 mt-lg-0">
                        <h6>Share your details, Securitas will connect to you.</h6>
                        <form id="contact" class="sg_pkj_frm p-0 m-0 bg-transparent">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset><input type="name" name="name1" id="name1" placeholder="Name" autocomplete="on" formcontrolname="Name" required="" class="form-control ng-pristine ng-invalid ng-touched"></fieldset>
                                </div>
                                <div class="col-lg-6">
                                    <fieldset><input type="phone" name="phn" id="phn" placeholder="Mob No" formcontrolname="Phone" required="" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset><input type="email" name="email1" id="email1" required="" placeholder="E-mail ID" formcontrolname="Email" class="ng-untouched ng-pristine ng-invalid"></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset><textarea name="message" type="text" id="message" placeholder="Brief Description" formcontrolname="Message" class="form-control ng-untouched ng-pristine ng-valid">                </textarea></fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset class="d-flex gap-3"><button type="button" class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-flex align-items-center justify-content-center fs_14 px-4"><i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i><span> Submit &amp; Buy Now</span></button></fieldset>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</section>






<style>
/* 
.sg_bg_row_shadow{ 
    box-shadow: 0 0 14px 6px #cfcfcf24;
    border-radius: 8px;
    background: white;
}
.sg_new_srvs_si img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.sg_pkg_row {
    display: grid;
    grid-template-columns: 200px auto;
    box-shadow: 0 0 14px 6px #cfcfcf24;
    border-radius: 8px; 
    background: white;
}

.sg_fix_pkg .sg_pkg_pnt p {
    padding-top: 4px;
    padding-bottom: 8px;
}

.sg_pkg_row.sg_pkg_alacate .sg_pkg_pnt p {
    padding-top: 0;
    padding-bottom: 0;
}

.sg_pkg_row h5 {
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 0;
}

.sg_pkg_row.sg_pkg_alacate .sg_fix_pkg {
    display: block;
}

.sg_fix_pkg {
    display: grid;
    grid-template-columns: auto 175px;
    align-items: center;
}

.sg_fix_pkg .px-15{
    padding-top: 4px;
    padding-bottom: 8px;
}
.sg_fix_pkg p{
    margin-bottom: 0px;
    width: 60%;
}
.sg_fix_pkg p span{
    float:right;
}
.sg_pkg_alacate .border-bottom:last-child {
    border-bottom: 0px!important;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.sg_icon-sm {
    width: 18px;
    height: 18px;
    line-height: 4px;
    text-align: center;
    padding: 5px 0 7px;
}

.sg_pkg_tlt_img{
    width: 60px;
}

.sg_pkg_row .border-bottom,.sg_pkg_row .border-end {
    border-color: #9870fe66!important;
}

.bg_lprp {
    background-color: #f8f6ff!important;
} */

</style>