<section class="privacy-policy-container py-4">
  <div class="privacy-policy py-4">
    <!-- Left section -->
    <div class="left-section">
      <p class="l-s-p">
        <a [routerLink]="['/privacy-policy']" routerLinkActive="active-policy">
          <i class="fa-solid fa-layer-group me-2"></i>
          Privacy policy
        </a>
      </p>
      <p class="l-s-p">
        <a [routerLink]="['/cookies-policy']" routerLinkActive="active-policy">
          <i class="fa-solid fa-wrench me-2"></i>
          Cookies policy
        </a>
      </p>
    </div>
    <!-- Right section -->
    <div class="right-section">
      <div class="top-heading">
        <h1>Cookie Policy</h1>
        <p>Your privacy is important to us</p>
      </div>
      <div class="privacy-content">
        <p class="mb-2">
          Securitas uses cookies on the website [bgv.securitas-india.com] in
          order to enhance your experience, but not all cookies, or similar
          technologies, are necessary for the website to function. You accept
          the usage of some or all categories of cookies on our website by
          selecting the “Accept” button, or by adjusting the settings, in the
          cookie information banner on the bottom of the page.
        </p>
        <ol>
          <li class="mb-2">What are cookies?</li>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span
              >A cookie is a small text file containing an identifier (a string
              of letters and numbers) that is sent by a web server to a web
              browser, and stored by the browser. The identifier is then sent
              back to the server each time the browser requests a page from the
              server. Cookies are used to enable web pages to function more
              efficiently as well as providing information to the web page
              owner. Cookies also make it possible to distinguish users from
              each other, which can give the user a more positive experience of
              the website.</span
            >
          </p>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>
              The term cookie is the most used term but “cookies” actually
              describe a range of technologies, such as;
            </span>
          </p>
          <ul type="disc">
            <li>Pixel tags,</li>
            <li>Mobile device identifiers, and</li>
            <li>Web storage used in desktop software or mobile devices.</li>
          </ul>

          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>
              When we refer to “cookies” in this policy we mean all such
              technologies.
            </span>
          </p>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>
              There are a few different categories of cookies, including:
            </span>
          </p>
          <ol type="a">
            <li>Session and persistent cookies</li>
            <ul type="disc">
              <li>
                <span>
                  <b>Session cookies – </b>
                  These are cookies which expire once you close your web
                  browser, and
                </span>
              </li>
              <li>
                <span>
                  <b>Persistent cookies – </b>
                  these are cookies which stay on your device for a set period
                  of time or until you delete them.
                </span>
              </li>
              <li>
                <span>
                  <b>Session cookies – </b>
                  These are cookies which expire once you close your web
                  browser, and .
                </span>
              </li>
            </ul>
            <li>First and third party cookies</li>
            <ul type="disc">
              <li>
                <span>
                  <b>First-party cookies – </b>
                  these are cookies set by the website that you are visiting at
                  the time, either by us, or by a third party at our request,
                </span>
              </li>
              <li>
                <span>
                  <b>Third-party cookies – </b>
                  these are cookies that are set by a party other than that of
                  the website you are visiting. If you visit Securitas website
                  or use Securitas services and another party sets a cookie
                  through that website this would be a third-party cookie.
                </span>
              </li>
            </ul>
          </ol>
          <li class="mb-2">Cookies used within this service</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              In the list here below we describe the cookies used, as well as
              the purpose and storage period of each cookie:
            </span>
          </p>
          <ol type="a">
            <li>Cookies</li>
            <ul type="disc">
              <li>Name : __ga</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Used by Google Analytics</li>
              <li>
                Purpose : Used to distinguish users. A unique identifier
                associated with each user is sent with each hit in order to
                determine which traffic belongs to which user. This cookie
                enables the website's owner to track a visitor’s behavior and
                measure the website's performance. The main purpose of this
                cookie is to improve the website's performance.
              </li>
              <li>Storage period : 2 years</li>
              <li>
                Information to/from third party : This cookie sends information
                to Google
              </li>
              <li>Name : _gat</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Used by Google Analytics</li>
              <li>
                Purpose : Used to throttle request rates for information on the
                website. This cookie does not store any user information. The
                main purpose of this cookie is to improve the website's
                performance.
              </li>
              <li>Storage period : 10 minutes</li>
              <li>
                Information to/from third party : This cookie sends information
                to Google
              </li>
              <li>Name : _gid</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Used by Google Analytics</li>
              <li>
                Purpose : Used to throttle request rates for information on the
                website. This cookie does not store any user information. The
                main purpose of this cookie is to improve the website's
                performance.
              </li>
              <li>Storage period : 24 hours</li>
              <li>
                Information to/from third party : This cookie sends information
                to Google
              </li>
              <li>Name : ai_session (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Unique anonymous session identifier cookie.</li>
              <li>
                Purpose : Speeds up page loading times and overrides any
                security restrictions that may be applied to a browser based on
                the IP address from which it comes
              </li>
              <li>
                Storage period : This cookie is deleted when you session expires
              </li>
              <li>
                Information to/from third party : Information sent to Microsoft
                Azure
              </li>
              <li>Name : ai_user (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>
                Description : Used with Microsoft Application Insights for
                collecting statistical usage and telemetry information
              </li>
              <li>
                Purpose : Unique user identifier cookie for counting the number
                of users accessing an application over time.
              </li>
              <li>
                Storage period : This cookie is deleted when you session expires
              </li>
              <li>
                Information to/from third party : Information sent to Microsoft
                Azure
              </li>
              <li>Name : ASP.NET_SessionId (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Session identifier</li>
              <li>
                Purpose : Used to keep track of a user navigating through the
                website. This is used to transfer information between pages and
                to store information that the user might reuse on different
                pages. The main purpose of this cookie is to improve the
                website's performance.
              </li>
              <li>Storage period : Session period when browsing the website</li>
              <li>Information to/from third party : No</li>
              <li>Name : CookiesAccept (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Website cookie settings</li>
              <li>
                Purpose : Used to keep track of whether the user has accepted
                the cookie usage or not. This is not set unless the visitor has
                clicked on "Accept" in the cookie banner in the bottom of the
                website. The main purpose of this cookie is to improve the
                website's performance.
              </li>
              <li>Storage period : 365 days</li>
              <li>Information to/from third party : No</li>
              <li>Name : .EPiForm_VisitorIdentifier (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Functionality-related.</li>
              <li>
                Purpose : Identifies the form submission to the site when a
                visitor submits data to via an Episerver form. Stores a GUID
                which is the visitor identifier. Persistent (90 days from
                creation).
              </li>
              <li>Storage period : 90 days</li>
              <li>Information to/from third party : No</li>
              <li>Name : .EPiForm_BID (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Functionality-related.</li>
              <li>
                Purpose : Identifies the form submission made to the site when a
                visitor submits data via an Episerver form. Stores a GUID as the
                browser ID.
              </li>
              <li>Storage period : 90 days</li>
              <li>Information to/from third party : No</li>
              <li>Name : EPiForm_FormGuid:Username (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Functionality-related.</li>
              <li>
                Purpose : Stores partial form submissions so that a visitor can
                continue with a form submission upon return. One cookie is
                created for each form and each logged in visitor. Stores the
                current submission status of the form (formGuid, submissionID,
                and if submission is finalized or not).
              </li>
              <li>Storage period : 90 days</li>
              <li>Information to/from third party : No</li>
              <li>Name : ARRAffinity (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>
                Purpose : Routes the request made through a web browser to the
                same machine in the DXC cloud environment. See ARRAffinity -
                Microsoft Azure. This cookie is deleted when you close your
                browser.
              </li>
              <li>
                Purpose : Routes the request made through a web browser to the
                same machine in the DXC cloud environment. See ARRAffinity -
                Microsoft Azure. This cookie is deleted when you close your
                browser.
              </li>
              <li>
                Information to/from third party : Information sent to Microsoft
                Azure
              </li>
              <li>Name : __cfuid (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Speeds up page loading times.</li>
              <li>
                Purpose : Speeds up page loading times and overrides any
                security restrictions that may be applied to a browser based on
                the IP address from which it comes
              </li>
              <li>Storage period : 1 year</li>
              <li>Information to/from third party : Used for Cloudflare</li>
              <li>Name : EPI-MAR- (always active)</li>
              <li>Domain : [bgv.securitas-india.com]</li>
              <li>Description : Analytical/performance functionality</li>
              <li>
                Purpose : Records a visitors interaction with a running website
                optimization test, to ensure that a visitor has a consistent
                experience.
              </li>
              <li>
                Storage period : Typically optimization tests are short-lived
                (eg a couple of weeks). The cookie is removed after the test has
                completed.
              </li>
              <li>Information to/from third party : Used for Cloudflare</li>
            </ul>
          </ol>

          <li class="mb-2">Managing your cookies</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span> Browsing cookies </span>
          </p>
          <ul type="disc">
            <li>
              You can withdraw your consent for us to use cookies whenever you
              want by deleting the cookie “CookiesAccept” from our domain and
              reloading the website.
            </li>
            <li>
              Please note that if you refuse cookies you may not be able to use
              all features within the website.
            </li>
            <li>
              Securitas will not use cookies to collect personally identifiable
              information about you. However, if you wish to restrict or block
              the cookies which are set by Securitas, or indeed any other
              website, you can do this through your browser settings on your
              computer or by not accepting cookies on the website. Each browser
              or mobile app is different, so check the "Help" menu of your
              browser to learn how to change your cookie preferences.
            </li>
            <li>
              Alternatively, you may wish to visit https://www.aboutcookies.org/
              which contains comprehensive information on how to do this on a
              wide variety of browsers. You will also find details on how to
              delete cookies from your computer as well as more general
              information about cookies. For information on how to do this on
              the browser of your mobile phone you will need to refer to your
              handset manual.
            </li>
          </ul>
          <p>
            <i class="bi bi-play-fill"></i>
            <span> Mobile identifiers </span>
          </p>
          <ul type="disc">
            <li>
              On your mobile device, your operating system may provide you with
              additional options to opt out of tracking or to otherwise reset
              your mobile identifiers. For example, you may use the “Limit Ad
              Tracking” setting (on iOS devices) or a setting to “Opt out of
              Internet-Based Ads” (on Android).
            </li>
          </ul>
          <p>
            <i class="bi bi-play-fill"></i>
            <span> How we use cookies </span>
          </p>
          <ul type="disc">
            <li>
              During the course of any visit to the Securitas website, the pages
              you see, along with any cookies, are downloaded to your device.
              Many websites do this, because cookies enable website publishers
              to do useful things like find out whether the device has visited
              the website before.
            </li>
            <li>
              In order to be able to provide relevant information to our
              visitors, we need aggregated statistical visitor data that is
              collected by means of cookies.
            </li>
          </ul>

          <li class="mb-2">Contact information</li>

          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              If you have any queries or concerns about the policies set out
              above, please do not hesitate to contact Securitas [your country]
              via the contact details below:
            </span>
          </p>

          <li>Contact our privacy team on</li>
          <p>WeVerify</p>
          <p>Att: Data Privacy</p>
          <p>
            The Walsons House, 496, Udyog Vihar Phase III, Gurugram 122016,
            Haryana, India
          </p>
          <p>bgv.securitas-india.com</p>
        </ol>
      </div>
    </div>
  </div>
</section>
