.sg_circle_rt,
.sg_circle_lb,
.sg_circle_ltb,
.sg_circle_lbs,
.sg_circle_lts,
.sg_circle_lt {
  position: absolute;
  border-radius: 100%;
  background: #f3efff;
}

.sg_circle_lb,
.sg_circle_lbs,
.sg_circle_lt {
  background: #fff3f5;
}

.sg_circle_rt {
  width: 250px;
  height: 250px;
  right: -100px;
  top: -50px;
  z-index: -1;
}

.sg_circle_ltb {
  width: 70px;
  height: 70px;
  left: 247px;
  top: -30px;
  z-index: -1;
}

.sg_circle_lts {
  width: 30px;
  height: 30px;
  left: 461px;
  top: -44px;
}

.sg_circle_lb {
  width: 250px;
  height: 250px;
  left: -100px;
  bottom: -30px;
  z-index: -1;
}

.sg_circle_lt {
  width: 250px;
  height: 250px;
  left: -120px;
  top: -180px;
  z-index: -1;
}

.sg_circle_lbs {
  width: 40px;
  height: 40px;
  left: 200px;
  bottom: -50px;
}

.breadcrumb li {
  letter-spacing: 2px;
}

.sg_page_title h1 {
  font-size: 72px;
}

.breadcrumb li {
  font-size: 20px;
}

.breadcrumb a {
  font-family: securitaspro_light;
}

.breadcrumb-item.active span {
  border-bottom: 2px #fc273f solid;
  font-family: securitaspro_light;
  padding-bottom: 3px;
}

.sg_page_title .breadcrumb-item + .breadcrumb-item:before {
  color: #fc273f;
  font-family: "securitaspro_light";
}

.sg_new_tlt span {
  border-bottom: 3px #8d5fff solid;
  padding-bottom: 5px;
}

.sg_new_tlt h2 {
  font-size: 36px;
}

.sg_new_srv_pg p {
  font-size: 20px;
  line-height: 28px;
}

.sg_new_tlt {
  margin-bottom: 26px;
}
#phn[_ngcontent-serverApp-c128] {
  width: calc(100% - 80px);
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

// .crcl_xxl_sh{
//   display: none;
// }

@media (min-width: 1450px) {
  .sg_new_tlt h2 {
    font-size: 39px;
    margin-bottom: 35px;
  }
  .sg_new_srv_pg p {
    font-size: 22px;
    line-height: 30px;
  }
}
// @media (max-width: 1400px) {
section {
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}
// }

@media (max-width: 1200px) {
  .sg_new_tlt h2 {
    font-size: 28px;
  }

  .sg_new_srv_pg p {
    font-size: 18px;
    line-height: inherit;
  }

  .sg_new_srv_img img {
    width: 80%;
  }

  .sg_circle_ltb {
    left: 200px;
  }
  .sg_circle_lts {
    left: 390px;
  }

  section {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .sg_new_srv_img img {
    max-width: 100%;
    width: auto;
  }
  .sg_page_title h1 {
    font-size: 52px;
  }

  .breadcrumb li {
    font-size: 16px;
  }

  .sg_circle_ltb {
    width: 50px;
    height: 50px;
    left: 148px;
    top: -15px;
  }
  .sg_circle_lts {
    left: 290px;
    top: -33px;
  }
  .sg_circle_rt,
  .sg_circle_lb,
  .sg_circle_lt {
    width: 180px;
    height: 180px;
  }
  .sg_circle_lt {
    left: -68px;
    top: -103px;
  }
}

@media (max-width: 767px) {
  .sg_new_tlt h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }
  .sg_new_srv_pg p {
    font-size: 15px;
  }
  .sg_circle_lt {
    width: 120px;
    height: 120px;
  }
  .sg_circle_lb {
    width: 120px;
    height: 120px;
    bottom: 0;
    left: -50px;
  }
  .sg_circle_lbs {
    right: 0px;
    left: auto;
  }
  .sg_circle_ltb {
    width: 30px;
    height: 30px;
    left: 35px;
  }
  .sg_circle_lts {
    width: 15px;
    height: 15px;
    top: -15px;
    left: 120px;
  }
  .sg_circle_lt {
    width: 120px;
    height: 120px;
    bottom: 0;
    left: -50px;
    top: auto;
  }
  .sg_new_srv_pg h5.tc_prp.fs_22 {
    font-size: 18px;
  }
  .sg_circle_rt {
    width: 120px;
    height: 120px;
    right: -63px;
    top: -40px;
  }
}
