<div
  class="py-4 bg_blu hero-header sg_page_title position-relative sg_new_srvs_div_s"
>
  <div
    class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"
  ></div>
  <div class="container my-1 my-lg-5 px-lg-5 position-relative">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-2">
            <li class="breadcrumb-item">
              <a class="tc_red tc_h_w" href="/home">HOME</a>
            </li>
            <li aria-current="page" class="breadcrumb-item tc_red active ps-1">
              <span>Blog</span>
            </li>
          </ol>
        </nav>
        <h1 class="text-white animated zoomIn">Blog</h1>
      </div>
    </div>
  </div>
</div>
<div class="mt-5"></div>
<section class="part-p-design pb-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-4 mb-2">
        <div class="part-in-desing">
          <a [routerLink]="['/blog/detail']"> </a>
          <div class="prodct-img px-3">
            <img src="assets/image/ptnr.png" />
          </div>
          <div class="part-data">
            <h3>Rahu Enters Cancer and Ketu Enters Capricorn.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div
              class="mt-2 text-muted d-flex justify-content-between align-content-center"
            >
              <small>June 28, 2023</small>
              <small class="tc_prp tc_h_lred"
                >Read More <i class="fa fa-angle-double-right ml-1"></i
              ></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4 mb-2">
        <div class="part-in-desing">
          <a [routerLink]="['/blog/detail']"> </a>
          <div class="prodct-img px-3">
            <img src="assets/image/ptnr.png" />
          </div>
          <div class="part-data">
            <h3>Rahu Enters Cancer and Ketu Enters Capricorn.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div
              class="mt-2 text-muted d-flex justify-content-between align-content-center"
            >
              <small>June 28, 2023</small>
              <small class="tc_prp tc_h_lred"
                >Read More <i class="fa fa-angle-double-right ml-1"></i
              ></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4 mb-2">
        <div class="part-in-desing">
          <a [routerLink]="['/blog/detail']"> </a>
          <div class="prodct-img px-3">
            <img src="assets/image/ptnr.png" />
          </div>
          <div class="part-data">
            <h3>Rahu Enters Cancer and Ketu Enters Capricorn.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div
              class="mt-2 text-muted d-flex justify-content-between align-content-center"
            >
              <small>June 28, 2023</small>
              <small class="tc_prp tc_h_lred"
                >Read More <i class="fa fa-angle-double-right ml-1"></i
              ></small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4 mb-2">
        <div class="part-in-desing">
          <a [routerLink]="['/blog/detail']"> </a>
          <div class="prodct-img px-3">
            <img src="assets/image/ptnr.png" />
          </div>
          <div class="part-data">
            <h3>Rahu Enters Cancer and Ketu Enters Capricorn.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div
              class="mt-2 text-muted d-flex justify-content-between align-content-center"
            >
              <small>June 28, 2023</small>
              <small class="tc_prp tc_h_lred"
                >Read More <i class="fa fa-angle-double-right ml-1"></i
              ></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="mt-5"></div>
