<section class="privacy-policy-container py-4">
  <div class="privacy-policy py-4">
    <!-- Left section -->
    <div class="left-section">
      <p class="l-s-p">
        <a [routerLink]="['/privacy-policy']" routerLinkActive="active-policy">
          <i class="fa-solid fa-layer-group me-2"></i>
          Privacy policy
        </a>
      </p>
      <p class="l-s-p">
        <a [routerLink]="['/cookies-policy']" routerLinkActive="active-policy">
          <i class="fa-solid fa-wrench me-2"></i>
          Cookies policy
        </a>
      </p>
    </div>
    <!-- Right section -->
    <div class="right-section">
      <div class="top-heading">
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us</p>
      </div>
      <div class="privacy-content">
        <p class="mb-2">
          Securitas uses cookies on the website [bgv.securitas-india.com] in
          order to enhance your experience, but not all cookies, or similar
          technologies, are necessary for the website to function. You accept
          the usage of some or all categories of cookies on our website by
          selecting the “Accept” button, or by adjusting the settings, in the
          cookie information banner on the bottom of the page.
        </p>
        <ol>
          <li class="mb-2">About this Privacy Notice</li>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>We at Securitas Group respect your integrity.</span>
          </p>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>
              This privacy policy ("Privacy Policy") is applicable to the
              processing of your personal data that you submit to us through
              this website in order to receive information and materials from
              us. The purpose of this Privacy Policy is to provide users of this
              website (jointly referred to as "users" or "you") with information
              on how Securitas Group processes the personal data you share with
              us when using our contact forms on this website.
            </span>
          </p>
          <p class="mb-1">
            <i class="bi bi-play-fill"></i>
            <span>
              Please note that this website may contain links to non-Securitas
              Group websites. The Securitas Group is not responsible for the
              privacy policies or practices of such websites.
            </span>
          </p>

          <li class="mb-2">
            Responsibility for the processing of personal data
          </li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              Securitas India, a private ltd. Company registered under the
              Indian Company’s Act 2013(1956), ("Securitas", "we" or "us") is
              the controller of personal data processing. This means that
              Securitas is responsible to ensure processing is compliant with
              applicable laws in relation to personal data.
            </span>
          </p>

          <li class="mb-2">Categories of personal data</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              The following information will be processed when request
              information from us.
            </span>
          </p>

          <li class="mb-2">Contact information</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              e-mail, name, company, country and your message to us.
            </span>
          </p>

          <li class="mb-2">Browsing Information: IP-number</li>

          <li class="mb-2">The purpose and lawful basis for the processing</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              Securitas is processing the personal data you provide to us or
              that is a result of your use of the webpage as described below:
            </span>
          </p>
          <div class="table table-responsive">
            <table class="table">
              <thead style="background-color: #d8d7d6">
                <tr>
                  <th>Purpose of processing</th>
                  <th>Lawful basis for processing</th>
                  <th>Retention period</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    To fulfill your information request to receive information
                    or materials from us, such as brochures or reports
                  </td>
                  <td>Consent</td>
                  <td>
                    We retain your personal information only for as long as is
                    necessary to complete your request or for as long as is
                    required by law
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <li>Who do we share your personal data with?</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b> Service Providers and Subcontractors : </b>
              Your personal data will be processed by our service providers
              and/or subcontractors (including but not limited to data storage
              service providers, production development agencies, customer
              research and operations management companies, technical support
              and maintenance of the service) on instruction from Securitas. All
              service providers and subcontractors act as Securitas personal
              data processors and are under contractual arrangements only
              allowed to process data for the purposes as set out above.
              Furthermore, the personal data processor (service provider or
              subcontractor) and those acting under instructions of the
              processor will not access more personal data than is required for
              the performance of the service covered by the agreement with
              Securitas.
            </span>
          </p>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b>Securitas Group : </b>
              Your personal data may be processed by companies within the
              Securitas Group that provide services to Securitas in relation to
              your request such as product development, support and
              administration. In such case, Securitas Group companies act as
              Securitas personal data processor or joint controller with
              Securitas. The personal data processor or join controller may only
              process personal data in accordance with the purposes or
              instructions provided by Securitas for the processing.
              Furthermore, the personal data processor (Securitas Group company)
              and those acting under instructions of the processor will not
              access more personal data than is required for the performance of
              the service covered by the agreement with Securitas.
            </span>
          </p>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b>Government agencies : </b>
              Securitas may share your personal data with government agencies
              (such as the police, the tax authority or other authorities) if we
              are required by law to do so, or if you have agreed that we do so.
              We may also share your personal data with government agencies when
              we believe in good faith that it is necessary to protect our
              rights, protect your security or the safety of others, investigate
              crimes, or respond to a government request. Government agencies
              that receive your personal data will be the data controller for
              such processing, which means that it is not Securitas who governs
              how your personal data, if shared with an authority, is processed.
              Thus, if your personal data is shared with authorities, this
              Privacy Notice will not cover that processing.
            </span>
          </p>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b>Other third parties : </b>
              Securitas will not sell, trade or in other ways forward your
              personal data to third parties outside the Securitas Group unless
              you have given a separate consent.
            </span>
          </p>
          <li>Where we are processing your personal data</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b>Securitas Group companies : </b>
              We may share your personal data to our subsidiaries or affiliated
              companies for the purpose of that the relevant subsidiary or
              affiliated company will process your personal data to respond to
              your request. Consequently, we will only transfer your personal
              data to the subsidiary or affiliated company that needs to receive
              your personal data in order to provide you with the information
              you have requested. By submitting the request form you consent to
              our transfer of your personal data to our subsidiaries or
              affiliated companies that may be established in a country outside
              the EU/EEA (i.e. a so-called third country), including countries
              which the EU Commission does not consider to have an adequate
              level of protection for personal data. Please be aware that
              countries which are outside the EU/EEA may not offer the same
              level of data protection as the EU/EEA and, thus, you may not have
              the same rights as under the laws applicable to us. We may
              transfer your personal data to our subsidiaries or affiliated
              companies established in any of the countries (including so-called
              third countries) listed on a web page that you can access by
              clicking here. [link to:
              https://www.securitas.com/about-us/country-selection---map/]
            </span>
          </p>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              <b>Third party service providers : </b>
              The personal data that we collect from you may be transferred to
              and processed by a third party service provider established in a
              country outside the EU/EEA (i.e. a so-called third country),
              including countries which the EU Commission does not consider to
              have an adequate level of protection for personal data. In such
              case we will take all necessary steps required under applicable
              law in order for such transfer of your personal data across
              borders to be compliant with applicable law. We will only transfer
              your personal data to a country outside the EU/EEA where; (i) the
              EU Commission has decided that the third country ensures an
              adequate level of protection, or (ii) where the transfer is being
              safeguarded by the use of EU model clauses (under Article 46.2 in
              the General Data Protection Regulation (2016/679) ("GDPR")). We
              may transfer your personal data to third party service providers
              established in the following countries outside the EU/EEA: India.
              You can find further information about the rules on data transfers
              outside the EU/EEA, including the mechanisms that we rely upon, on
              the European Commission website which you can visit by clicking
              here. [link to:
              https://ec.europa.eu/info/law/law-topic/data-protection_en ]
            </span>
          </p>
          <li>How we protect your data</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              Securitas takes appropriate technical and organizational measures
              to protect your personal data and Securitas is constantly working
              to protect your personal data from accidental or unlawful
              destruction, loss or alteration, unauthorized disclosure of or
              unauthorized access to the personal data transferred, stored or
              otherwise processed by Securitas.
            </span>
          </p>
          <li>Your rights</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              We respect you integrity and your rights under legislation related
              to the processing of personal data. The rights you have mean that
              you can request a copy of the personal data we process about you,
              you can request incorrect information about you to be corrected
              and even under certain conditions you can request erasure of
              information. You may also in some cases have the right to object
              to Securitas' processing of your personal data and to exercise
              your right to data portability.
            </span>
          </p>
          <li>Changes to this Privacy Notice</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              We reserve the right to change this Privacy Notice. If we make any
              changes to this Privacy Notice, we will notify you by announcing
              the update of the Privacy Notice online or in another appropriate
              manner inform you of the updated version. This Privacy Notice was
              last updated on 8th December, 2020.
            </span>
          </p>
          <li>Complaints and Contact information</li>
          <p>
            <i class="bi bi-play-fill"></i>
            <span>
              If you have any questions regarding the processing of your
              personal data, this Privacy Policy or otherwise have comments on
              Securitas' processing of your personal data, please contact our
              privacy team on:
            </span>
          </p>
          <li>Contact our privacy team on</li>
          <p>
            <span> Securitas India </span>
          </p>
          <p>
            <span> Att: Data Privacy </span>
          </p>
          <p>
            <span>
              The Walsons House, 496, Udyog Vihar Phase III, Gurugram 122016,
              Haryana, India
            </span>
          </p>
          <p>
            <span> bgv.helpdesk&#84;securitas-india.com </span>
          </p>
          <p>
            <span>
              You also always have the right to lodge complaints to your Data
              Protection Authority if you have objections in relation to our
              processing of your personal data.
            </span>
          </p>
        </ol>
      </div>
    </div>
  </div>
</section>
