<div class="py-lg-4 bg_blu hero-header sg_page_title position-relative">
  <div
    class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"
  ></div>
  <div class="container my-lg-5 py-5 px-lg-5 position-relative">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white animated zoomIn">Checks For Industry</h1>
        <hr class="bg-white mx-auto mt-0 opacity-100" style="width: 90px" />
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
              <a class="tc_w tc_h_red" [routerLink]="['/home']">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Checks For Industry
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<section class="target-buyers-section padding-p1 py-5">
  <div class="tb-inner" id="renderHtmlTargetBuyersSectiondata">
    <div class="custom-container">
      <div class="targetbuyers-row">
        <div class="targetBuy-heading">
          <div class="section-head">
            <h2 class="heading-f56-mediam"></h2>
            <h2 class="heading-f56-mediam">
              <span class="yellow-h">Checks</span> for industry
            </h2>
          </div>
        </div>
        <div class="targetBuyers-slider">
          <div class="targetbuyers-slider-mb">
            <div
              class="swiper targetbuyers-swiper swiper-container-initialized swiper-container-horizontal"
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img
                        src="assets/img/c1.png"
                        alt="Technology"
                        width="100%"
                      />
                    </div>
                    <p class="targetbuyers-title">
                      Agriculture & Allied Industries
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img src="assets/img/c2.png" alt="Retail" width="100%" />
                    </div>
                    <p class="targetbuyers-title">Service Sector</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img
                        src="assets/img/c3.png"
                        alt="Healthcare"
                        width="100%"
                      />
                    </div>
                    <p class="targetbuyers-title">BFSI</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img src="assets/img/c4.png" alt="Telecom" width="100%" />
                    </div>
                    <p class="targetbuyers-title">Tourism and Hospitality</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img src="assets/img/c5.png" alt="IT/ITes" width="100%" />
                    </div>
                    <p class="targetbuyers-title">Healthcare</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img src="assets/img/c6.png" alt="BFSI" width="100%" />
                    </div>
                    <p class="targetbuyers-title">
                      Infrastructure and Transportation
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img
                        src="assets/img/c7.png"
                        alt="Manufacturing"
                        width="100%"
                      />
                    </div>
                    <p class="targetbuyers-title">IT and related services</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img src="assets/img/c8.png" alt="FMCG" width="100%" />
                    </div>
                    <p class="targetbuyers-title">Energy</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img
                        src="assets/img/c9.png"
                        alt="Automotive"
                        width="100%"
                      />
                    </div>
                    <p class="targetbuyers-title">MSME and Gig economy</p>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-active">
                  <div class="targetbuyers-slide">
                    <div class="targetbuyers-icon">
                      <img
                        src="assets/img/c10.png"
                        alt="Chemicals"
                        width="100%"
                      />
                    </div>
                    <p class="targetbuyers-title">
                      Consumer and Industrial goods
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="swiper-wrapper">
                  <owl-carousel-o [options]="testiOption">
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c1.png"
                              alt="Technology"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">
                            Agriculture & Allied Industries
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c2.png"
                              alt="Retail"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">Service Sector</p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c3.png"
                              alt="Healthcare"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">BFSI</p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c4.png"
                              alt="Telecom"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">
                            Tourism and Hospitality
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c5.png"
                              alt="IT/ITes"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">Healthcare</p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c6.png"
                              alt="BFSI"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">
                            Infrastructure and Transportation
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c7.png"
                              alt="Manufacturing"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">
                            IT and related services
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c8.png"
                              alt="FMCG"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">Energy</p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c9.png"
                              alt="Automotive"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">MSME and Gig economy</p>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="swiper-slide swiper-slide-active">
                        <div class="targetbuyers-slide">
                          <div class="targetbuyers-icon">
                            <img
                              src="assets/img/c10.png"
                              alt="Chemicals"
                              width="100%"
                            />
                          </div>
                          <p class="targetbuyers-title">
                            Consumer and Industrial goods
                          </p>
                        </div>
                      </div>
                    </ng-template>
                  </owl-carousel-o>
                </div> -->
              <span
                class="swiper-notification"
                aria-live="assertive"
                aria-atomic="true"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid py-5 px-xl-5" *ngIf="industryType">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive sg_new_data_tbl">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" style="width: 130px; min-width: 100px">
                Industry
              </th>
              <th scope="col" style="width: 190px; min-width: 150px">Domain</th>
              <th scope="col" style="width: 140px; min-width: 90px">
                Risks-Involved
              </th>
              <th scope="col" style="width: 80px">Education Verification</th>
              <th scope="col" style="width: 80px">Employment Verification</th>
              <th scope="col" style="width: 80px">Criminal Record</th>
              <th scope="col" style="width: 80px">Identity Check</th>
              <th scope="col" style="width: 80px">Professional Reference</th>
              <th scope="col" style="width: 80px">Global Database</th>
              <th scope="col" style="width: 80px">Credit Record</th>
              <th scope="col" style="width: 80px">Drug Test</th>
              <th scope="col" style="width: 80px">Social Media</th>
              <th scope="col" style="width: 80px">
                Professional Licence Verification
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="industryType === 1">
              <td>IT and IT related services</td>
              <td>
                IT services, Business Process Management (BPM), Software
                products, Engineering Services and Hardware, Cloud Services
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 60%; background-color: #42638c"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      3
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #55419e"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      3
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>SSJR</td>
              <td>SSJR</td>
              <td>SSJR</td>
              <td>SSJR</td>
            </tr>
            <tr *ngIf="industryType === 2">
              <td>Service Industry</td>
              <td>
                Consulting, Staffing, Media & Entertainment, Insurance, Audit
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #42638c"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #55419e"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      3
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>SSJR</td>
              <td>SSJR</td>
              <td>SSJR</td>
              <td>SSJR</td>
            </tr>
            <tr *ngIf="industryType === 3">
              <td>Consumer and Industrial goods (Manufacturing)</td>
              <td>
                Automobile, Cement, Chemicals, Consumer Durables, Defense
                Manufacturing, Textiles
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>SSJR</td>
            </tr>
            <tr *ngIf="industryType === 4">
              <td>FMCG</td>
              <td>
                Food and Beverages, Healthcare, Household and Personal Care
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr *ngIf="industryType === 5">
              <td>BFSI</td>
              <td>
                Banking, Investment, Stock Broking, Fintech, Payment Gateways,
                Insurance
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>SSJR</td>
            </tr>
            <tr *ngIf="industryType === 6">
              <td>Tourism and Hospitality</td>
              <td>
                Hotels, Food and Beverages, Recreation, Travel, Art and Culture,
                Booking Portals, Airlines, Car Rentals
              </td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
            </tr>
            <tr *ngIf="industryType === 7">
              <td>Healthcare</td>
              <td>Hospitals, BioTech, Medicine, Pharmasuticals</td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
            </tr>
            <tr *ngIf="industryType === 8">
              <td>Heavy Industry (Infrastructure and Transportation)</td>
              <td>Construction, Transportation, Mining, Energy, Oil and Gas</td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
            </tr>
            <tr *ngIf="industryType === 9">
              <td>Agriculture & Allied Industries</td>
              <td>Farming, Fertilizers, Poulty and Fisheries</td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>SSJR</td>
            </tr>
            <tr *ngIf="industryType === 10">
              <td>MSME and Gig economy</td>
              <td>Startups, Entrepreneurs, Freelancers</td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
              </td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
            </tr>
            <tr *ngIf="industryType === 11">
              <td>Work Force and Helpers (Blue Collor)</td>
              <td>Gurards, Last Mile Delivery, Packers, Drivers, Etc.</td>
              <td>
                <!-- Job-competence-5  -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Job-competence.png" width="20px" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #8d5fff"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Honesty-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Honesty.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #ff8da3"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-safety-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Theft.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #c2b4fc"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Workplace-theft-3 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Workplace-Safety.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%; background-color: #42638c"
                      aria-valuenow="5"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      5
                    </div>
                  </div>
                </div>
                <!-- Performance-5 -->
                <div class="sg_risk_prgrs_bar">
                  <img src="img/Performance.png" />
                  <div class="progress w-100">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%; background-color: #55419e"
                      aria-valuenow="4"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      4
                    </div>
                  </div>
                </div>
              </td>
              <td>-</td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
              <td><i class="bi bi-check2-circle"></i></td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12">
      <ul class="sg_risks_involved_clr">
        <li>
          <img src="assets/img/Job-competence.png" /> Job-competence<span
            style="background-color: #8d5fff"
          ></span>
        </li>
        <li>
          <img src="assets/img/Honesty.png" /> Honesty<span
            style="background-color: #ff8da3"
          ></span>
        </li>
        <li>
          <img src="assets/img/Workplace-Theft.png" /> Workplace Safety<span
            style="background-color: #c2b4fc"
          ></span>
        </li>
        <li>
          <img src="assets/img/Workplace-Safety.png" /> Workplace Theft<span
            style="background-color: #42638c"
          ></span>
        </li>
        <li>
          <img src="assets/img/Performance.png" /> Performance<span
            style="background-color: #55419e"
          ></span>
        </li>
      </ul>
      <div style="clear: both"></div>
      <ul class="sg_risks_involved_clr">
        <li>Subject to Specific Job Requirment - <b>SSJR</b></li>
      </ul>
    </div>
  </div>
</section>
