<!-- <a [routerLink]="['/author']">Author</a>
<a [routerLink]="['/book']">Book</a>
<router-outlet></router-outlet> -->
<!-- <div class="onload_slide bg-white w-100">
  <div class="position-fixed top-0 start-0 vh-100 bg_lprp sg_slide_tag"></div>
  <div class="container position-relative">
    <div class="row vh-100 align-items-center">
      <div class="col-md-12 text-center">
        <h3 class="tc_blu fs_24 ff_reg">
          The New Standard of Background Checks
        </h3>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="sg_cursor"></div> -->
<!-- <div class="sg_cursor2"></div> -->

<!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-grow tc_red mx-1" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow tc_red mx-1" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow tc_red mx-1" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div> -->
<!-- <app-header></app-header>
<router-outlet (activate)="changeOfRoutes($event)"></router-outlet>


<app-footer [hidden]="isHideFooter"></app-footer> -->

<router-outlet></router-outlet>

