<div class="py-4 bg_blu hero-header mb-5 sg_page_title position-relative">
    <div class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"></div>
    <div class="container my-5 py-5 px-lg-5 position-relative">
       <div class="row g-5">
          <div class="col-12 text-center">
             <h1 class="text-white animated zoomIn">Service Sector</h1>
             <hr class="bg-white mx-auto mt-0 opacity-100" style="width: 90px;">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                   <li class="breadcrumb-item"><a class="tc_w tc_h_red" [routerLink]="['/home']">Home</a></li>
                   <li class="breadcrumb-item  active" aria-current="page">Checks For Industry</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </div>

 <section  class=" " #sg_service id="sg_service">
   <div class="container-xxl py-5">
      <div class="container px-4 px-lg-5">
         <div class="row g-5 align-items-center">
            <div class="col-lg-6">
               <img class="img-fluid wow fadeInLeft" data-wow-delay="0.5s" src="assets/img/111.png">
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.1s">
               <div class="section-title position-relative mb-4 pb-2">
                  <h6 class="position-relative tc_prp ps-4">Checks For Industry</h6>
                  <h2 class="mt-2">Service Sector </h2>
               </div>
               <p class="mb-4">As this sector grows, employee-related frauds increase to a whopping 57% of cases experienced by the organization. Make a smart move and verify your employee.</p>
               <div class="row g-3">
                  <div class="col-sm-12"> 
                     <p><b><i class="fa fa-check tc_red me-3"></i>Target Industry:</b> Consultancy, Business Process Outsourcing, Media and Entertainment; Education and Training; Logistics; Blue-collar; E-learning platforms; Non-profit; E-commerce</p>
                     <p><b><i class="fa fa-check tc_red me-3"></i>Recommended Checks:</b> Previous employment and education; Leadership verification; Discreet checks for critical cases</p> 
                  </div> 
               </div> 
            </div> 
         </div>
      </div>
   </div> 
</section>