<div class="py-4 bg_blu hero-header mb-5 sg_page_title position-relative">
    <div class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"></div>
    <div class="container my-5 py-5 px-lg-5 position-relative">
       <div class="row g-5">
          <div class="col-12 text-center">
             <h1 class="text-white animated zoomIn">MSME and Gig economy</h1>
             <hr class="bg-white mx-auto mt-0 opacity-100" style="width: 90px;">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                   <li class="breadcrumb-item"><a class="tc_w tc_h_red" [routerLink]="['/home']">Home</a></li>
                   <li class="breadcrumb-item  active" aria-current="page">Checks For Industry</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </div>
 <section  class="" id="sg_msme">
   <div class="container px-lg-5 sg_shadow rounded-3 py-5 my-4">
      <div class="container px-4 px-lg-5">
         <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
               <div class="section-title position-relative mb-4 pb-2">
                  <h6 class="position-relative tc_prp ps-4">Checks For Industry</h6>
                  <h2 class="mt-2">MSME and Gig economy</h2>
               </div>
               <p class="mb-4">With increased focus on skill development, the economy is observing the rise of entrepreneurs and skilled professionals for on a contractual basis.   </p>
               <div class="row g-3">
                  <div class="col-sm-12"> 
                     <p><b><i class="fa fa-check tc_red me-3"></i>Target Industry:</b> Startups; Entrepreneurs; Freelancers</p>
                     <p><b><i class="fa fa-check tc_red me-3"></i>Recommended Checks:</b> Qualifications, past employment, criminal records, address verification, ID checks, ration card, drugs and alcohol and verifying criminal records of the worker along with a regular governmental check. </p> 
                  </div> 
               </div> 
            </div>
            <div class="col-lg-6">
               <img class="img-fluid wow fadeInRight" data-wow-delay="0.5s" src="assets/img/111.png">
            </div>
         </div>
      </div>
   </div>
  </section>