<!-- Instant Verification -->

<div class="pt-4 pt-lg-5" style="background-color: #fbfbfb" id="instant_verification">
  <div class="container pt-3 pt-lg-0">
    <div class="row">
      <div class="col-lg-12 mb-3 mb-lg-4">
        <div class="section-title position-relative mb-4 pb-2 text-center">
          <h2 class="">Instant Verification</h2>
        </div>
      </div>
    </div>
  </div>

  <section class="pb-4 position-relative">
    <div class="container pb-3">
      <div class="row align-items-center px-xl-3">
        <div class="col-lg-6 ps-xxl-5 text-center order-lg-2 sg_service_m_img">
          <img
            src="assets/img/id_varification.gif"
            class="fit_img_cnt wow zoomIn h-100"
            width=""
            data-wow-delay="0.1s"
          />
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="col-lg-12">
            <div class="mb-2">
              <h2 class="fs_24 tc_lred">Know HOW?</h2>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <div
                class="sg_shadow px-4 py-3 bg_w d-flex gap-3 align-items-center"
              >
                <img
                  src="assets/img/document_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Document Verification</h5>
                  <p class="mb-0">
                    Platinum partner of National Skills Registry, NASSCOM
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-2 mt-lg-4">
              <div
                class="sg_shadow px-4 py-3 bg_w d-flex gap-3 align-items-center"
              >
                <img
                  src="assets/img/facial_verification.png"
                  width="45px"
                  height="45px"
                  class="fit_img_cnt sg_pkg_pnt_icn"
                />
                <div>
                  <h5 class="fs_18">Facial Verification</h5>
                  <p class="mb-0">
                    Verifies that the user’s selfie matches the photo on the
                    identity document
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>

  <section class="bg_w pt-5 pb-4">
    <div class="container pb-2">
      <div class="row px-xl-3">
        <!-- <ng-container
          *ngTemplateOutlet="
            submenuServices;
            context: { item: servicesPackagesdata }
          "
        ></ng-container> -->
        <app-common-package [data]="servicesPackagesdata"></app-common-package>
      </div>
    </div>
  </section>

  <section
    class="position-relative pt-2 pb-4"
    style="background-color: #fbfbfb"
  >
    <div class="container py-3 py-lg-4">
      <div class="row mt-2 align-items-center">
        <div class="col-lg-6 text-center sg_service_m_img">
          <img
            src="assets/img/high_fraud_detection.png"
            class="h-100 fit_img_cnt wow zoomIn w-75"
            width=""
            data-wow-delay="0.1s"
          />
        </div>
        <div
          class="col-lg-6 fs_18 wow fadeInRight ps-lg-5 mt-4 mt-lg-0"
          data-wow-delay="0.1s"
        >
          <div class="mb-2">
            <h2 class="mt-2 fs_24 tc_lred">Know WHY?</h2>
          </div>
          <div class="row text-center pt-2">
            <div class="col-md-6 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">High-user pass rate</h5>
              </div>
            </div>
            <div class="col-md-6 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">
                  High-fraud detection accuracy
                </h5>
              </div>
            </div>
            <div class="col-md-6 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">Cost-effective</h5>
              </div>
            </div>
            <div class="col-md-6 my-1 my-lg-2">
              <div
                class="sg_shadow d-flex align-items-center justify-content-center px-4 py-3 bg_w h-100"
              >
                <h5 class="fs_15 mb-0 tc_m_blu ff_reg">Quality Database</h5>
              </div>
            </div>
          </div>
          <!-- <div class="d-lg-flex align-items-center mt-4">
                  <button type="button" class="btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4">
                     <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i> 
                     <span>Buy Now</span>
                  </button>
                   <button type="button" class="ms-4 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4">
                     <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i> 
                     <span>Add to Cart</span>
                  </button> 
               </div> -->
        </div> 
      </div>
    </div>
  </section>
</div>

<!-- ------------ -->

<div class="container-fluid" style="border-top: 4px #acc2dd solid">
  <div class="row">
    <div class="col-lg-12"></div>
  </div>
</div>

<ng-template #submenuServices let-item="item">
  <div class="col-lg-12">
    <form class="row">
      <ng-container *ngFor="let el of item?.packageServices">
        <div class="col-md-6">
          <div class="sg_pckg_checks">
            <div
              class="d-flex align-items-center justify-content-between py-2 mb-3 px-3 sg_pckg_tlt_icn"
            >
              <div class="sg_form_group">
                <input
                  type="checkbox"
                  id="instant{{ el.package_service_id }}"
                  [value]="el.package_service_id"
                  (change)="selectService($event)"
                />
                <label for="instant{{ el.package_service_id }}"
                  >{{ el.service_name }}
                </label>
                <!-- <a
                  [hidden]="!el?.service_description"
                  href="javascript:void()"
                  class="show_shrt_dtal"
                  ><i class="bi bi-chevron-down"></i
                ></a> -->
              </div>
              <div class="d-flex gap-2 align-items-center">
                <span class="price"> ₹ {{ el.service_price }}</span>
              </div>
            </div>
            <!-- <div class="sg_shrt_dtal px-3">
              <p>{{ el?.service_description }}</p>
            </div> -->
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="col-lg-12">
    <div class="d-md-flex align-items-center justify-content-center">
      <button
        (click)="buyNow()"
        style="min-width: 200px"
        type="button"
        class="mx-md-3 my-4 mb-md-0 btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4"
      >
        <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i>
        <span>Buy Now</span>
      </button>
      <button
        (click)="goToCart(); isAddedCart = true"
        style="min-width: 200px"
        type="button"
        class="mx-md-3 my-4 mb-md-0 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4"
      >
        <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i>
        <span>{{ isAddedCart ? "Go to Cart" : "Add to Cart" }}</span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template let-item="item">
  <div class="col-lg-12">
    <form class="row align-items-center">
      <ng-container *ngFor="let el of item; let i = index">
        <div class="col-md-6">
          <div class="sg_pckg_checks">
            <div
              class="d-flex align-items-center justify-content-between border-bottom py-2 mb-3 px-3 sg_pckg_tlt_icn"
            >
              <div class="sg_form_group">
                <input
                  type="checkbox"
                  id="h_tenant_verification{{ el.package_id }}"
                />
                <label for="h_tenant_verification{{ el.package_id }}">{{
                  el.package_name
                }}</label>
              </div>
              <div class="d-flex gap-2 align-items-center">
                <span class="price">₹{{ el.price }}</span>
              </div>
            </div>
            <div class="h_tenant_verification_input sg_inner_checks px-3 pb-3">
              <ng-container *ngFor="let menus of el?.packageServices">
                <div class="sg_checkbox_div sg_form_group_inr">
                  <input
                    type="checkbox"
                    id="tenant_verification_national_id{{
                      menus.package_service_id
                    }}"
                    name="sg_occupied_option"
                    value=""
                    class="sg_inner_checks"
                  />
                  <label
                    class="fs_14"
                    for="tenant_verification_national_id{{
                      menus.package_service_id
                    }}"
                    >{{ menus.service_name }}</label
                  >
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="col-lg-6">
        <div class="d-md-flex align-items-center justify-content-center">
          <button
            style="min-width: 200px"
            type="button"
            class="mx-md-3 my-4 my-md-0 btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-none d-lg-flex align-items-center justify-content-center fs_20 px-4"
          >
            <i class="bi bi-cart-check fs_15 me-1 me-lg-0 me-xl-1"></i>
            <span>Buy Now</span>
          </button>
          <button
            style="min-width: 200px"
            type="button"
            class="mx-md-3 my-4 my-md-0 btn bg_lp_r sg_gradient_ani tc_w rounded-pill tc_h_w btn_shadow ff_reg border-0 d-flex align-items-center justify-content-center fs_20 px-4"
          >
            <i class="bi bi-cart-plus fs_15 me-1 me-lg-0 me-xl-1"></i>
            <span>Add to Cart</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
