<div class="">
  <div class="container-fluid bg_w">
    <div class="row sg_logsign_div align-items-center">
      <div class="col-xl-5 col-lg-5 col-md-5 position-relative p-0 d-none d-md-block">
        <img style="height: 90vh" src="assets/img/login3.jpg" class="w-100 fit-image" />
        <div class="position-absolute top-0 left-0 w-100 h-100 opacity-50 bg_blu"></div>
        <div class="position-absolute top-50 start-50 translate-middle text-center tc_w sg_lgn_txt w-75">
          <h5 class="tc_w lh_40 fs_32">
            Build A Better Future With Fair Background Checks
          </h5>
          <p>Let's get connected</p>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 py-lg-5 px-lg-4 pe-lg-5 mt-lg-3 ps-xl-5">
        <div class="row justify-content-center">
          <div class="col-11 col-md-11 col-xl-10">
            <div class="tab-content" id="myTabContent">
              <div class="section-title position-relative mb-lg-4 pb-2 wow fadeInDown" data-wow-delay="0.1s">
                <h2 class="mt-2">Forgot Password ?</h2>
              </div>
              <div id="sg_login_tab">
                                <form class="mt-lg-4 pt-lg-2 form-right" [formGroup]="loginForm" (keydown.enter)="$event.preventDefault(); submit()">
                  <div class="row pt-5 pl-2 pr-2">
                    <div class="col-md-12 fa-icon">
                      <i class="bi bi-envelope-fill" aria-hidden="true"></i>
                      <div class="form-floating">
                        <input type="email" class="form-control h-auto pt-1" id="Email" placeholder="Email"
                          formControlName="Email" [autocomplete]="'off'" />
                        <label for="Email" class="tc_blu black">Enter Your Email <code>*</code></label>
                      </div>
                    </div>
                    <app-timer *ngIf="isCodeSent" [Email]="loginForm.controls['Email'].value" [type]="'fp'"></app-timer>
                  </div>
                  <!-- *ngIf="isCodeSent" -->
                  <ng-container *ngIf="isCodeSent">
                    <div class="row pt-5 pl-2 pr-2">
                      <div class="col-md-12 fa-icon">
                        <i class="bi bi-keyboard-fill" aria-hidden="true"></i>
                        <div class="form-floating">
                          <input type="number" class="form-control h-auto pt-1" id="otp" placeholder="Enter OTP"
                            [autocomplete]="'off'" minlength="6" maxlength="6" formControlName="OTP" />
                          <label for="otp" class="tc_blu black">Enter Your OTP<code>*</code></label>
                        </div>
                      </div>
                    </div>

                    <div class="row pt-5 pl-2 pr-2 position-relative">
                      <div class="col-md-12 fa-icon">
                        <i class="bi bi-lock-fill" aria-hidden="true"></i>
                        <div class="form-floating">
                          <input (focus)="showErrors = true" (blur)="showErrors = false"
                            [type]="showPassword ? 'text' : 'password'" class="form-control h-auto pt-1" id="Password"
                            placeholder="Password" formControlName="Password" [autocomplete]="'off'" />
                          <label for="Password" class="tc_blu">Password <code>*</code></label>
                        </div>

                        <i [style.cursor]="'pointer'" (click)="showPassword = !showPassword" aria-hidden="true"
                          class="bi" [ngClass]="
                            showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'
                          "></i>
                      </div>

                    
                      <ng-container *ngTemplateOutlet="passwordValidation"></ng-container>
                    </div>

                                        <div class="row pt-5 pl-2 pr-2 position-relative">
                      <div class="col-md-12 fa-icon">
                        <i class="bi bi-lock-fill" aria-hidden="true"></i>
                        <div class="form-floating">
                          <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control h-auto pt-1"
                            id="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword"
                            [autocomplete]="'off'" />
                          <label for="ConfirmPassword" class="tc_blu">Confirm Password <code>*</code></label>
                        </div>

                                              <i [style.cursor]="'pointer'" (click)="showConfirmPassword = !showConfirmPassword"
                          aria-hidden="true" class="bi"
                          [ngClass]="showConfirmPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>

                        <small class="text-danger d-block mt-2 ms-4 ps-2"
                          *ngIf="loginForm.get('ConfirmPassword')?.value && loginForm.get('Password')?.value !== loginForm.get('ConfirmPassword')?.value">
                          Passwords do not match
                        </small>
                      </div>
                    </div>
                    <!-- <div class="row pt-5 pl-2 pr-2 d-none">
                      <div class="col-md-12 fa-icon">
                        <i class="bi bi-lock-fill" aria-hidden="true"></i>
                        <div class="form-floating">
                          <input
                            [type]="showPassword ? 'text' : 'password'"
                            class="form-control h-auto pt-1"
                            id="ConfirmPassword"
                            placeholder="Confirm Password"
                            formControlName="ConfirmPassword"
                            [autocomplete]="'off'"
                          />
                          <label for="ConfirmPassword" class="tc_blu"
                            >Confirm Password <code>*</code></label
                          >
                        </div>

                        <i
                          [style.cursor]="'pointer'"
                          (click)="showPassword = !showPassword"
                          aria-hidden="true"
                          class="bi"
                          [ngClass]="
                            showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'
                          "
                        ></i>
                      </div>
                    </div> -->
                  </ng-container>

                  <!-- <div class="row pt-3">
                    <div class="col-md-12">
                      <re-captcha
                        id="recaptcha"
                        name="recaptcha"
                        #recaptcha="ngModel"
                        [(ngModel)]="captchaToken"
                        required
                        [ngModelOptions]="{ standalone: true }"
                      ></re-captcha>
                    </div>
                  </div> -->

                  <div class="mt-4">
                    <button (click)="submit()" type="button"
                      class="mx-auto btn tc_w bg_p_lr border-0 rounded-pill sg_gradient_ani tc_h_w btn_shadow ff_reg d-flex align-items-center justify-content-center fs_20 px-4 pt-1 pb-2 sg_log_sig_btn">
                      <span>{{ isCodeSent ? "Set Password" : "Send OTP" }}
                      </span>
                      <i class="bi bi-arrow-right fs_15 ms-1"></i>
                    </button>
                  </div>
                  <div class="mt-4 pt-1 text-center">
                    <p>
                      Don't have an account?
                      <a [routerLink]="!isSpecialWindow?['/auth/signup']:['/special/signup']"
                        class="tc_prp tc_h_red">Signup Now</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #passwordValidation>
  <!-- *ngIf="showErrors && loginForm.controls['Password'].invalid" -->
  <div class="ml-1 validatoions" id="validatoions" *ngIf="showErrors && loginForm.controls['Password'].invalid">
    <p class="p-0 m-0 mb-1">Must have at least :</p>
    <span class="left-arrow text-danger">
      <i class="bi bi-caret-left-fill"></i>
    </span>
    <div class="">
      <span *ngIf="getHasError('hasEight')" class="paas-error"
        [ngClass]="getHasError('hasEight') ? 'text-danger' : 'text-success'">
        <i class="bi" [ngClass]="
            getHasError('hasEight') ? 'bi-x-circle' : 'bi-check-circle'
          "></i>
        <span> 8 characters! </span>
      </span>
      <span *ngIf="getHasError('hasNumber')" class="paas-error"
        [ngClass]="getHasError('hasNumber') ? 'text-danger' : 'text-success'">
        <i class="bi" [ngClass]="
            getHasError('hasNumber') ? 'bi-x-circle' : 'bi-check-circle'
          "></i>
        <span> 1 number!</span>
      </span>
      <span *ngIf="getHasError('hasCapitalCase')" class="paas-error" [ngClass]="
          getHasError('hasCapitalCase') ? 'text-danger' : 'text-success'
        ">
        <i class="bi" [ngClass]="
            getHasError('hasCapitalCase') ? 'bi-x-circle' : 'bi-check-circle'
          "></i>
        <span> 1 capital case!</span>
      </span>
      <span *ngIf="getHasError('hasSmallCase')" class="paas-error"
        [ngClass]="getHasError('hasSmallCase') ? 'text-danger' : 'text-success'">
        <i class="bi" [ngClass]="
            getHasError('hasSmallCase') ? 'bi-x-circle' : 'bi-check-circle'
          "></i>
        <span> 1 small case!</span>
      </span>
      <span *ngIf="getHasError('hasSpecialCharacters')" class="paas-error" [ngClass]="
          getHasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'
        ">
        <i class="bi" [ngClass]="
            getHasError('hasSpecialCharacters')
              ? 'bi-x-circle'
              : 'bi-check-circle'
          "></i>
        <span>1 special character!</span>
      </span>
      <span *ngIf="getHasError('pattern')" class="paas-error"
        [ngClass]="getHasError('pattern') ? 'text-danger' : 'text-success'">
        <i class="bi" [ngClass]="getHasError('pattern') ? 'bi-x-circle' : 'bi-check-circle'"></i>
        <span>no space!</span>
      </span>
    </div>
  </div>
</ng-template>