input.ng-invalid.ng-touched {
  border: none;
  border-bottom: solid 1px #da5235 !important;
}
input.ng-valid.ng-touched.ng-dirty {
  border: none;
  border-bottom: solid 1px #50da35 !important;
}
.form-right .form-control {
  font-family: securitaspro_regular;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: text;
  font-size: 14px;
  padding-left: 24px;
}
.fa-icon {
  position: relative;
}
.fa-icon .bi {
  position: absolute;
  left: 14px;
  // top: 10px;
  color: #fd6884;
  z-index: 9;
  bottom: 7px;
}
.fa-icon .bi-eye,
.fa-icon .bi-eye-fill {
  right: 20px;
  left: auto;
}
.fa-icon .bi-eye-slash,
.fa-icon .bi-eye-slash-fill {
  right: 20px;
  left: auto;
}
.fa-icon .floating-label {
  position: absolute;
  pointer-events: none;
  left: 36px;
  top: 8px;
  transition: 0.2s ease all;
  color: #878787;
  font-size: 14px;
}
.fa-icon input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -18px;
  bottom: 10px;
  left: 36px;
  font-size: 14px;
  opacity: 1;
}
.form-right label {
  font-size: 13px;
  // font-weight: 700;
  padding-top: 10px;
  color: #212529;
  padding-left: 23px;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-1.9rem) translateX(0.15rem);
  font-size: 15px;
}
