<div class="body-bg p-0">
  <section class="hero">
    <div class="hero-heading">
      <h1>Know Who You're Trusting <br>
        <span>Before You Do</span>
      </h1>
    </div>
    <!-- left text -->
     <div class="hero-left">
      <p class="sub-text">Background checks for <br>
      <strong>tenants, domestic help, matrimony matches <br> & yourself.</strong>
      </p>
      <button class="cta-btn" (click)="gotoVerification()">Start Verification</button>
      <div class="cook-text">
        <span class="isBouncing banner-text" >
          {{bannerText}}   
        </span>
        <img src="../../assets/img/arrow-mark.svg" alt="">
      </div>
    </div>

    <!-- center image -->
     <div class="hero-center">
      <img  [src]="bannerImg" alt="girl" class="hero-img" [class]="animateClass">
     </div>

     <!-- right content -->
      <div class="hero-right">
        <div class="time">
          <div class="d-flex justify-content-center banner-container">

            <img src="assets\img\Banner Clocl icon.png" alt="time">
          </div>
          <div class="banner-time">
            Result delivered <span>instantly</span>
          </div>
          <h2><strong>Starting</strong> at</h2>
          <h1>₹299</h1>

          <p>Trusted by Indian Families for decades</p>
        </div>

     
      </div>
  </section>












  

  <!-- Newsletter Start -->

<div class="container  newsletter-start ">
  <div class="row px-5">
  <div class="col-md-12  ">
      <div class="stats-bar  section-spacing">

    <div class="stat ">
      <h2 class="d-flex justify-content-center align-items-center">1000<span>+</span></h2>
      <p>Earned Clients</p>
    </div>

    <div class="stat">
      <h2>20<span>Million+</span></h2>
      <p>Checks Done</p>
    </div>

    <div class="stat">
      <h2>25<span class="new-span mb-1">+Years</span></h2>
      <p>Industry Experience</p>
    </div>

    <div class="stat">
      <h2>98.4<span class="new-percente">%</span></h2>
      <p>TAT Compliance</p>
    </div>

  </div>
  </div>  
  </div>
</div>


  <!-- Newsletter End -->


  <!-- how access the services flow start -->
<section class="process-section  mt-0 section-spacing body-bg ">
  <div class="container">

    <div class="text-center mb-5">
      <h2 class="display-6 fw-bold text-dark mb-2">Run a Background Check in Minutes</h2>
      <h3 class="sub-heading fw-normal text-purple-light">
        Get Results <span class="fw-bold text-purple-bold">Instantly</span>
      </h3>
    </div>

    <div class="row px-2">




     <section class="loopbox wrapper">
        <div class="row justify-content-center">
          <div class="col-xl-12">
            <ul class="card-editbale">
              <li id="sat0" class="sat card-set ">
        <div class="step-item text-center">
        <h6 class="step-title">Register</h6>
        <div class="circle-icon mx-auto my-3">
          <img src="assets\img\Artboard 1.png" alt="Securitas India Background Checks" />

        </div>
        <p class="dtep-desc">Easy Sign-Up</p>
      </div>

      <div class="step-connector d-none d-md-flex ">
        <div class="connector-line"></div>
      </div>
              </li>
              <li id="sat1" class="sat card-set">

                 <div class="step-item text-center">
        <h6 class="step-title">Product</h6>
        <div class="circle-icon mx-auto my-3">
          <img src="assets\img\Artboard 2.png" alt="Securitas India Background Checks" />

        </div>
        <p class="dtep-desc">Choose Your Check</p>
      </div>

      <div class="step-connector d-none d-md-flex ">
        <div class="connector-line"></div>
      </div>
              </li>
              <li id="sat3" class="sat card-set">

                  <div class="step-item text-center">
        <h6 class="step-title">Payment</h6>
        <div class="circle-icon mx-auto my-3">
          <img src="assets\img\Artboard 3.png" alt="Securitas India Background Checks" />

        </div>
        <p class="dtep-desc">Diverse Payment Choices</p>
      </div>

      <div class="step-connector d-none d-md-flex ">
        <div class="connector-line"></div>
      </div>
              </li>
              <li id="sat2" class="sat card-set">

               <div class="step-item text-center">
        <h6 class="step-title">Provide  Details</h6>
        <div class="circle-icon mx-auto my-3">
          <img src="assets\img\Artboard 6.png" alt="Securitas India Background Checks" />

        </div>
        <p class="dtep-desc">Provide basic details, takes less than 2 minutes</p>
      </div>

      <div class="step-connector d-none d-md-flex ">
        <div class="connector-line"></div>
      </div>
              </li>

              <li id="sat4" class="sat card-set">

                <div class="step-item text-center">
        <h6 class="step-title">Download Report</h6>
        <div class="circle-icon mx-auto my-3">
          <img src="assets\img\Artboard 5.png" alt="Securitas India Background Checks" />

        </div>
        <p class="dtep-desc">Get detailed , <br> reliable report</p>
      </div>

              </li>
            </ul>
          </div>
        </div>
      </section>





    </div>

      <div class="text-center mt-4 ">
        <button class="edit-btn btn-primary text-while rounded-pill px-5 py-3 shadow-lg" (click)="gotoVerification()">
          Start Your Verification Now
        </button>
      </div>

  </div>
</section>

  <!-- how access the services flow end -->


  <!-- Service Start -->



 <div class="container sg_prdt_tur mt-3 body-bg " >
      <div class="section-title  section-spacing position-relative text-center mb-4 pb-2 wow fadeInUp" data-wow-delay="0.1s">
        
         <h2 class="mt-2">What do you want to <span class="highlight">Verify?</span></h2>

      </div>
  <div class="row">
    <div class="col-md-12">
       <div class="service-container">
           <div class="service-card" id="card-verify-self">
            <div class="card-image-wrapper-5 card-image-overlay">
                <h2 class="card-title">Instant<br>Verification</h2>
            </div>
            <div class="card-content">
                <p class="card-description">
                  Know sooner. Decide smarter. Move ahead with greater confidence.
                </p>
                <a *ngIf="isLoggedIn()" routerLink="/individual" fragment="instantVerify" class="btn" id="btn-verify-self">Verify Now</a>
                <a *ngIf="!isLoggedIn()" [routerLink]="['/instant-verify']" class="btn" id="btn-verify-self">Verify Now</a>
            </div>
        </div>
        <!-- Card 1: Verify Yourself -->
            <div class="service-card" id="card-verify-domestic">
            <div class="card-image-wrapper-2 card-image-overlay">
                <h2 class="card-title">Verify<br>Domestic Help</h2>
            </div>
            <div class="card-content">
                <p class="card-description">Ensure safety at home with verified checks for maids, drivers, and
                    caregivers.</p>
                <a *ngIf="isLoggedIn()" routerLink="/individual" fragment="supportVerification" class="btn" id="btn-verify-domestic">Verify Help</a>
                <a *ngIf="!isLoggedIn()" [routerLink]="['/helper-verification']" class="btn" id="btn-verify-domestic">Verify Help</a>
            </div>
        </div>
       

        <!-- Card 2: Verify Domestic Help -->
              <div class="service-card" id="card-verify-tenant">
            <div class="card-image-wrapper-3 card-image-overlay">
                <h2 class="card-title">Verify<br>Tenant</h2>
            </div>
            <div class="card-content">
                <p class="card-description">Avoid rental risks with identity and background checks before leasing.</p>
                <a *ngIf="isLoggedIn()" routerLink="/individual" fragment="tenantVerification" class="btn" id="btn-verify-tenant">Verify Tenant</a>
                <a *ngIf="!isLoggedIn()" [routerLink]="['/tenant-verification']" class="btn" id="btn-verify-tenant">Verify Tenant</a>
            </div>
        </div>
      <div class="service-card" id="card-verify-self">
            <div class="card-image-wrapper-1 card-image-overlay">
                <h2 class="card-title">Verify<br>Yourself</h2>
            </div>
            <div class="card-content">
                <p class="card-description">Get your background verified in advance to ensure accuracy and build trust
                    where it matters.</p>
                <a *ngIf="isLoggedIn()" routerLink="/individual" fragment="self_verification" class="btn" id="btn-verify-self">Get Verified</a>
                <a *ngIf="!isLoggedIn()" [routerLink]="['/verify-yourself']" class="btn" id="btn-verify-self">Get Verified</a>
            </div>
        </div>

        <!-- Card 3: Verify Tenant -->
          <div class="service-card" id="card-verify-marriage">
            <div class="card-image-wrapper-4 card-image-overlay">
             
                <h2 class="card-title">Verify <br>Matchmacking</h2>
            </div>
            <div class="card-content">
                <p class="card-description">From first conversations to lifelong commitments, verify before you trust.</p>
                <a *ngIf="isLoggedIn()" routerLink="/individual" fragment="matrimonialVerify" class="btn" id="btn-verify-marriage">Verify Prospects</a>
                <a *ngIf="!isLoggedIn()" [routerLink]="['/matrimonial-due-diligence']" class="btn" id="btn-verify-marriage">Verify Prospects</a>
            </div>
        </div>
   
        <!-- Card 4: Verify Marriage Prospects -->
       

          <div class="service-card" id="card-verify-marriage">
            <div class="card-image-wrapper-6 card-image-overlay">
             
                <h2 class="card-title">Derisk Your<br>Workplace</h2>
            </div>
            <div class="card-content">
                <p class="card-description">From startups to enterprises, make informed hiring decisions with trusted workforce screening.</p>
                <a href="https://www.securitas.in/services/background-verification-page/" target="_blank" class="btn" id="btn-verify-marriage">Verify Workplace</a>
            </div>
        </div>
    </div>
    </div>
  </div>
 </div>

<!-- infinite moving crousel start-->

<section class="ticker-section section-spacing">
  <div class="top-marquee-wrapper mt-5">
    <div class="marquee-content marquee-left-to-right d-flex align-items-center">
      <ng-container *ngFor="let loop of [1,2]">
        <span class="ticker-text">Watchman</span>
        <span class="ticker-text">Bride</span>
        <span class="ticker-text">Cook</span>
        <span class="ticker-text">Tenant</span>
        <span class="ticker-text">Nanny</span>
        <span class="ticker-text">Driver</span>
        <span class="ticker-text">Caregiver</span>
        <span class="ticker-text">Plumber</span>
        <span class="ticker-text">Employee</span>
        <span class="ticker-text">Self-Verify</span>
        <span class="ticker-text">Maid</span>
        <span class="ticker-text">Nurse</span>
        <span class="ticker-text">Pre-Matrimonial</span>
      </ng-container>
    </div>
  </div>

  <div class="marquee-wrapper mt-3">
    <div class="marquee-content marquee-right-to-left d-flex align-items-center">
      <ng-container *ngFor="let loop of [1,2]">
        <span class="ticker-text">Plumber</span>
        <span class="ticker-text">Caregiver</span>
        <span class="ticker-text">Driver</span>
        <span class="ticker-text">Nanny</span>
        <span class="ticker-text">Tenant</span>
        <span class="ticker-text">Cook</span>
        <span class="ticker-text">Bride</span>
        <span class="ticker-text">Watchman</span>
        <span class="ticker-text">Pre-Matrimonial</span>
        <span class="ticker-text">Nurse</span>
        <span class="ticker-text">Maid</span>
        <span class="ticker-text">Self-Verify</span>
        <span class="ticker-text">Employee</span>
      </ng-container>
    </div>
  </div>
</section>
<!-- infinite moving crousel end-->



  <!-- Testimonial Start -->
  <app-shared-testimonial></app-shared-testimonial>

  <div style="clear: both"></div>
  <!-- Testimonial End -->


  <!-- Footer Start -->

  <!-- Footer End -->
  <!-- Back to Top -->
  <!-- <div class="sg_call_to_action">
    <a *ngIf="false" class="btn btn-lg bg_p_lr sg_gradient_ani btn-lg-square sg_chat_btn tc_w tc_h_w_i border-0"></a>

  
    <a href="JavaScript:void(0)" class="btn btn-lg bg_prp tc_w tc_h_w_i bg_h_red btn-lg-square back-to-top"><i
        class="bi bi-arrow-up"></i></a>
  </div> -->
</div>

<!-- chat modal  -->
<div class="sg_chat_modal bg_w">
  <section class="msger">
    <header class="msger-header px-3 py-2 px-md-4 py-md-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="msger-header-title fs_20 ff_bold tc_prp">
          <!-- <i class="fas fa-comment-alt"></i> -->
          Chat With Us
        </div>
        <div class="msger-header-options sg_close_chat">
          <span><i class="bi bi-x-lg"></i></span>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-between pt-2 pb-0 mt-1 pt-md-3 pb-md-2 mt-md-2 gap-2 border-top">
        <img src="assets/img/logo_b.png" style="width: 60px" />
        <p class="mb-0 ff_bold fs_16 tc_lred">Securitas BGV Support</p>
      </div>
    </header>
    <main class="msger-chat py-3 py-md-4">
      <div class="mb-3 d-flex">
        <div class="msg-img" style="background-image: url(assets/img/bot_icon.png)"></div>
        <div>
          <div class="msg-info fs_14">
            <div class="msg-info-name me-2">Abhi</div>
            <div class="msg-info-time">12:45</div>
          </div>
          <div class="msg left-msg w-75 mt-1">
            <div class="msg-bubble rounded-3 px-2 px-md-3 py-2 fs_14">
              <div class="msg-text">
                We will be delighted to answer your queries For corporate
                enquiries, kindly get in touch with our experts
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 w-75 ms-auto right-msg">
        <div class="msg-info justify-content-end fs_14">
          <div class="msg-info-name me-2">Joy</div>
          <div class="msg-info-time">12:46</div>
        </div>
        <div class="msg left-msg mt-1 justify-content-end">
          <div class="msg-bubble rounded-3 px-2 px-lg-3 py-2 fs_14">
            <div class="msg-text">Lorem Ipsum is simply dummy text of</div>
          </div>
        </div>
      </div>


    </main>
    <form class="msger-inputarea px-3 px-md-4 py-2 py-md-3">
      <input type="text" class="msger-input" placeholder="Enter your message..." />
      <button type="submit" class="msger-send-btn bg_prp bg_lblu_h">
        Send
      </button>
    </form>
  </section>
</div>